<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>  Último dia! 10% off no spread 🤑 | BeeCâmbio</title>
    
    <style>
    @media (max-width: 425px) {
    .text-center{
            text-align: center;
        }
    .full-mobile{
            width: 100% !important;
            max-width: 100% !important;
    }

        }
    </style>
    
</head>
<body style="margin: 0; padding: 0;" align="center">     
<!-- preview text -->
    <table align="center" width="100%" height="36px" cellpadding="0" cellspacing="0" style="background-color:#22aabb; padding: 0px 10px;">
        <tr>
            <td>
                <p style="font-family: Arial; font-size: 12px; line-height: 1.5; color: #ffffff; text-align: center">
                Não perca a promoção! Sua viagem começa aqui.</p>
            </td>
        </tr>
    </table> 
    
<!-- bg wrapper -->
<table align="center" width="100%" cellpadding="0" cellspacing="0" style="background-color:#F3F3F3; background-position: center top; background-repeat: no-repeat;">
    <tr>
        <td>
            
<!-- header logo -->
    <table align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <center>
                <a href="{{contact.cart_recovery_email_cta_link}}&utm_campaign=BC_EA_CartRecoveryB&target=BCCRE5&content=0010&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=logoBC" target="_blank">
                <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/BeeCambio.png" style="width: 200px; margin:46px 0px 0px 0px;" width="200px" height="40px" alt="BeeCâmbio" />
                </a>
                </center>
            </td>
        </tr>
    </table> 
            
<!-- heading text -->
    <table align="center" height="120px" cellpadding="0" cellspacing="0" >
        <tr>
            <td>
                <p style="font-family: Arial; font-size: 32px;font-weight:bold; line-height: 1.2em; color: #ffaa11; text-align: center;">
                Compre moeda com a melhor cotação</p>
            </td>
        </tr>
        <tr>
            <td>
            <center>
                <a href="{{contact.cart_recovery_email_cta_link}}&utm_campaign=BC_EA_CartRecoveryB&target=BCCRE5&content=0010&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=header" target="_blank">
             <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP_EA01/Dolar+images/USA-5.png" width="100%" height="auto" alt="Mulher em praia paradisíaca">
                </a>
                </center>
            </td>
        </tr>
    </table>
            
<!-- content -->
    <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 24px; background-color: #ffffff;">
        <tr>
          <td style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #888888; text-align:center;" class="content-image">
            
            <table style="min-width: 250px; width: 50%; float: left; text-align: left; padding: 0px; margin: 0px; display:inline;" class="full-mobile">
                    <tr>
                        <td>
                            <p style="font-weight: bold;" class="text-center">Olá, {{contact.firstname}}. Tudo bem?</p>
                            <p class="text-center">
                            <b>Último dia!</b> Não perca o desconto, use o cupom partiuviagem e ganhe <span style="color:#22aabb; font-weight: bold;">10% off no spread*.</span><p>
                            <p style="font-size: 12px; line-height: 1.3em;" class="text-center">*Cupom não cumulativo, válido para todas as moedas do site até o dia {{contact.cart_recovery_voucher_expiration_beecambio}}.</p>
                        </td>
                    </tr>
                </table>
                <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;" class="full-mobile">
                    <tr>
                        <td style="border: 2px solid #ffaa11; padding: 12px; border-radius: 5px; background: rgba(255,238,187,0.2);">
                            <p style="color:#ffaa11; font-weight: bold; font-size: 16px; margin-top: 0;">Resumo da sua compra</p>
                            <p style="font-size: 14px; ">
                             <strong>Tipo:</strong> {{contact.cart_recovery_purchase_type}} <br>
                            <strong>Valor total:</strong> {{contact.cart_recovery_currency}} {{contact.cart_recovery_amount}} <br>
                            </p>
                            <p style="margin:0;"><a style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ffffff;padding:12px 24px;background:#ffaa11;text-decoration:none; margin-top:12px; border-radius:0 10px 0 10px; border: 2px solid; border-color: rgba(255,255,255,0.4);display:inline-block;text-transform:uppercase;" href="{{contact.cart_recovery_email_cta_link}}&utm_campaign=BC_EA_CartRecoveryB&target=BCCRE5&content=0010&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=CTA" target="_blank">COMPRAR</a></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
         <table align="center" width="100%" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%;" >
        <tr>
            <td>
                
            </td>
        </tr>
    </table>       
            
            
<!-- quizz section -->
    <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%;background: #ffffff;">
        <tr style="background: rgba(255,238,187,0.2);">
            <td align="center" style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #888888; text-align:center;">
                <p style="padding-top: 24px; font-size: 18px; color:#ffaa11; font-weight: bold;">Já fez sua compra de câmbio?</p>
                <!-- CTA -->
                <p style="margin-bottom: 48px;"><a style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ffaa11;padding:12px 24px;background: rgba(255,238,187,0.2);text-decoration:none;  border-radius:0 10px 0 10px; border: 2px solid; border-color: #ffaa11;text-transform:uppercase; margin-bottom: 24px;" href="https://pt.surveymonkey.com/r/MBNJD59?utm_campaign=BC_EA_CartRecoveryB&target=BCCRE5&content=0010&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=pesquisa-sim" target="_blank">SIM</a>
                <a style="ffont-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ffaa11;padding:12px 24px;background: rgba(255,238,187,0.2);text-decoration:none;  border-radius:0 10px 0 10px; border: 2px solid; border-color: #ffaa11;text-transform:uppercase; margin-bottom: 24px;" href="{{contact.cart_recovery_email_cta_link}}&utm_campaign=BC_EA_CartRecoveryB&target=BCCRE5&content=0010&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=pesquisa-nao" target="_blank">Não</a></p>
            </td>
        </tr>
    </table>
            
            
<!-- footer -->
    <table align="center" width="100%" cellpadding="0" cellspacing="0">			
        <tr>
            <td align="center">
                <p style="font-family: Arial; font-size: 24px; color: #22aabb; font-weight:bold; padding-top: 20px; width: 100%;">Abraços e boa viagem.<br>BeeCâmbio.</p>
            </td>
        </tr>
    </table>    
    <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%;">
        <tr>
            <td align="center" >
                <p style="font-family: Arial; font-size: 14px; line-height: 1.6em; color: #aaaaaa; font-weight:normal; padding-top: 20px; width: 80%;">Ficou com alguma dúvida? Fale com a gente! A BeeCâmbio oferece atendimento especializado via email, telefone, redes sociais e chat do site.</p>
              
        	</td>
        </tr>
        <tr>
            <td align="center">
                <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                    <tr>
                        <td>
                            <a href="tel:55-11-4280-4659" style="text-decoration:none;">
                                <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa; text-align:center;"><img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Telefone.png" width="24px" height="24px" alt="Telefone:" style="vertical-align: sub;" /> &nbsp;11 4280-4655</p>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="mailto:contato@remessaonline.com.br" style="text-decoration:none; a, a:visited, a:hover, a:active:#aaaaaa;">
                                <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa;text-align:center;"><img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Email.png" width="24px" height="24px"  alt="Email:" style="vertical-align: sub;"/> &nbsp;contato@beecambio.com.br</p>
                            </a>
                        </td>
                    </tr>
                </table>
                <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                    <tr>
                        <td>
                            <a href="whatsapp://tel:55-11-99280-5882" style="text-decoration:none; color:#aaaaaa;">
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa; text-align:center;"><img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Whatsapp.png" width="24px" height="24px" alt="Whastapp:" style="vertical-align: sub;"/> &nbsp;11 94286-7296</p>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="skype:RemessaOnline?chat" style="text-decoration:none; color:#aaaaaa;">
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa;text-align:center; margin-left:8px; "><img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Skype.png" width="24px" height="24px"  alt="Skype:" style="vertical-align: sub;" /> &nbsp;Atendimento BeeCambio</p>
                            </a>
                        </td>
                    </tr>
                </table>
                <table>    
                    <tr>
                        <td style="padding-top:30px;">
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:1.5; text-align:center; color:#aaaaaa;  text-decoration: none;">{{site_settings.company_street_address_1}} - {{site_settings.company_city}} - {{site_settings.company_state}}</p>
                        </td>
                    </tr>
                </table>
            </td>
         </tr>
    </table>
    <table style="max-width:600px; width:100%;" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <p style="font-family: Arial; font-size: 10px; line-height: 1em; color: #aaaaaa; text-align: center;">POWERED BY</p>
                            <center>
                            <a href="https://beetech.global/?utm_campaign=BC_EA_CartRecoveryB&target=BCCRE5&content=0010&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=logoBT" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png" width="120px" height="50px" alt="BeeTech" /></a>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial; font-size: 12px; color: #aaaaaa; padding: 10px 24px; text-align: center;" width="300px" height="12">
<p>Todos os direitos reservados {{site_settings.company_name}} @ 2018</p>
<p style="line-height: 1.2;">Deseja parar de receber os emails da BeeCâmbio? Clique em <a href="{{ unsubscribe_link }}" target="_blank" style="color: #888888;">Cancelar Assinatura</a>.</p>
</td>    
                    </tr>
    </table>