<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Precisa enviar ou receber dinheiro do exterior?</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f7fafb;" align="center">
<!-- preview text -->
    <table align="center" width="100%" cellpadding="0" cellspacing="0" style="background-color:#fff;">
        <tr>
            <td>
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#0077bb;text-align:center;">As melhores cotações e sem burocracia</p>
            </td>
        </tr>
    </table>
    
<!-- header logo -->
    <table align="center" width="100%" height="80px" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <a href="https://www.remessaonline.com.br/?utm_source=hubspot&utm_medium=email&utm_campaign=RM_cadcomp" target="_blank">
                <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_remessa_online2x.png" style="width:175px;"/>
                </a>
            </td>    
        </tr>
    </table>
    
<!-- hero -->
    
    <table align="center" height="150px" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; background-color:#0077bb; background-image: url(https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/remessaonline/images/new-emails/hero-bg.jpg); padding:0 30px;">
        <tr>
            <td align="center">
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:22px;font-weight:bold;color:#fff;padding-left:10px; margin: 0 20px;">Simplificamos suas transferências internacionais</p>
            </td>
        </tr>
    </table>
   
<!-- conteúdo -->
    <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 50px 40px; border:1px solid #eee; background-color: #fff;">
        <tr>
            <td align="right" style="text-align:left; font-family: Arial, Helvetica, Sans-serif; font-size:14px; line-height:140%; color:#909090;">
                <p>Olá, {{contact.firstname}}, tudo bem?</p>
                <p>Você já conhece a Remessa Online? Uma plataforma totalmente online para transferências de envio e recebimento do exterior. A BeeCâmbio e a Remessa Online foram desenvolvidas pela BeeTech, empresa focada em desenvolver soluções financeiras com foco na experiência do cliente.
                </p>
                <p>Com a Remessa Online você pode receber e enviar dinheiro para uma conta no exterior, realizar o pagamento de cursos, compras e aluguéis de imóveis, produtos, serviços, além de investimentos internacionais.
                </p>
            </td>
        </tr>
        <tr><td height="25px"></td></tr>
        <tr align="center">
                <td style="font-family: Arial; font-size: 20px; line-height: 120%; letter-spacing: 0.2px; color:#0077bb; text-align:center; border: 1px solid #0077bb;border-radius:5px;padding:10px 20px;">
                    <p style="margin-bottom: 20px;"><b>Desconto na sua primeira transferência</b></p>
                    <p style="color:#44bb88;font-family: Arial; font-size: 16px;">
                    <b>Use o cupom ‘primeiraremessa’ e ganhe 10% de desconto no spread</b> da sua primeira remessa de envio ou recebimento de dólar (USD) ou euro (EUR).</p>
                    <p><a  target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#fff;padding:15px 50px;background:#0077bb;text-decoration:none;border-radius:5px;display:inline-block;" href="https://www.remessaonline.com.br">FAZER REMESSA COM DESCONTO</a></p>
                </td>
            </tr>
        </table>
    
<!-- aviso de limite --> 
    <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 20px 40px; border:1px solid #eee; background-color: #eee;">
            
        <tr align="center">    
                <td width="450" height="12" style="font-family: Arial; font-size: 14px; line-height: 140%; letter-spacing: 0.2px; color:#295473; text-align:center;">
                    <p style="font-size:16px;"><b>Descomplicamos suas operações financeiras</b></p>
                    <p><span style="font-family: Arial; font-size: 14px; line-height: 140%; letter-spacing: 0.2px; color:#909090; text-align:left; margin-right: 16px">
                        • Transferências Internacionais 24 horas por dia
                    <br>• Operações seguem as normas do Banco Central
                    <br>• Cadastro integrado com a plataforma BeeCâmbio
                    <br>• Mais rápido e barato que os bancos tradicionais
</span></p>
                </td>
        </tr>
    </table>

<!-- conteúdo -->
    <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 20px 40px; border:1px solid #eee; background-color: #fff;">
        <tr>
            <td align="right" style="text-align:center; font-family: Arial, Helvetica, Sans-serif; font-size:14px; line-height:140%; color:#909090;">
                <p>Dúvidas? Entre em contato com nosso atendimento. ;) <br>
                <b>Abraço e boas remessas.</b> </p>
            </td>
        </tr>   
    </table>                
        
<!-- footer -->  
     <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 20px; background-color: #445577; background-image: url(https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_remessa_bg_footer2x.png); background-size: 303px 350px; background-repeat: no-repeat; background-position: right -40px;">
        <tr>
            <td align="center">
                <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                    <tr>
                        <td>
                            <a href="tel:55-11-4280-4659" style="text-decoration:none;">
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff; text-align:center;"><img style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/phone_icon2x.png" /> &nbsp;11 4280-4659</p>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="skype:RemessaOnline?chat" style="text-decoration:none;">
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff;text-align:center;"><img style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_skype2x.png" /> &nbsp;RemessaOnline</p>
                            </a>
                        </td>
                    </tr>
                </table>
                <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                    <tr>
                        <td>
                            <a href="whatsapp://tel:55-11-99280-5882" style="text-decoration:none;">
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff; text-align:center;"><img style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_whatsapp2x.png" /> &nbsp;11 99280-5882</p>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="mailto:contato@remessaonline.com.br" style="text-decoration:none;">
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff;text-align:center; margin-left:8px;"><img style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/mail_icon2x.png" /> &nbsp;contato@<span>remessaonline</span>.com<span>.</span>br</p>
                            </a>
                        </td>
                    </tr>
                </table> 
                <table>
                    <tr>
                        <td style="padding-top:30px;">
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:140%; text-align:center; color:#fff;">{{ site_settings.company_street_address_1 }} - {{ site_settings.company_city }} - {{ site_settings.company_state }}</p>
                        </td>
                    </tr>
                </table>    
            </td>
         </tr>
    </table>
    <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; height:80px; background-color: #334466; background-image: url(https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/line_footer.jpg); background-repeat: no-repeat; background-position: bottom;">
        <tr>
            <td align="center">
                <a href="https://www.facebook.com/remessaonline/" target="_blank"><img border="0" width="25px" style="padding:26px 15px" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/social_facebook2x.png"/></a>
                <a href="https://www.linkedin.com/company-beta/10898965/" target="_blank"><img border="0" width="25px" style="padding:26px 15px" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/social_linkedin2x.png"/></a>
                <a href="https://twitter.com/RemessaOnline" target="_blank"><img border="0" width="25px" style="padding:24px 15px" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/social_twitter2x.png"/></a>
            </td>
        </tr>
    </table>
<!-- END content -->
    <table align="center">
        <tr>
            <td   style="font-family: Arial; font-size: 10px; line-height: 140%; color: #909090; padding-top:20px;text-align: center;">
                <p>POWERED BY</p>
                <a href="https://beetech.global/" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_beetech_footer2x.png" width="120px" /></a>
            </td>
        </tr>
        <tr>
            <td   width="300px" height="12" style="font-family: Arial; font-size: 12px; color: #909090; padding-top:10px;text-align: center;">
                <p>Todos os direitos reservados {{ site_settings.company_name }} @ 2018</p>
                <p>Deseja parar de receber os emails da Remessa Online? Clique em <a href={{ unsubscribe_link }}>Cancelar Assinatura</a>.</p>
            </td>
        </tr>
    </table>
</body>
</html>
