<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chegamos em novas cidades</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f1f2f3;" align="center">
<!-- preview text -->
    <table align="center" width="100%" height="36px" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
        <tr>
            <td>
                <p style="font-family: Arial; font-size: 12px; line-height: 1.5; color: #F6831C; text-align: center">Aproveite as melhores cotações da BeeCâmbio</p>
            </td>
        </tr>
    </table>
<!-- header logo -->
    <table align="center" width="100%" height="100px" cellpadding="0" >
        <tr>
            <td align="center">
                <a href="https://www.beecambio.com.br?utm_source=hubspot&utm_medium=email&utm_campaign=BC_bh" target="_blank">
                <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/_BC_BASE/beecambio+SP-logo-primario_2x.png" style="width: 201px; height: px; margin-top:25px; margin-bottom:25px;" alt="BeeCâmbio" />
                </a>
            </td>
        </tr>
    </table>
    <!-- hero -->
    <table align="center" height="150px" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; background-color:#EC5853; background: url(https://s3-us-west-2.amazonaws.com/beecambiomkt/images/BC_CP_009/header+-+email+delivery+BH.jpg) center center; padding:0 30px 0 0;">
        <tr>
            <td align="center">
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:22px;font-weight:bold;color:#2C8AC2;padding-left:10px; margin: 0 20px;">O delivery chegou <br>em Belo Horizonte</p>
            </td>
        </tr>
    </table>
    
<!-- conteúdo -->
    <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 30px 40px; border:1px solid #eee; background-color: #ffffff;">
        <tr>
            <td align="center" style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #909090;">
               <p>Olá, {{contact.firstname}}, tudo bem?</p>
                <p>A BeeCâmbio chegou em Belo Horizonte! Agora você pode aproveitar as melhores cotações de moeda estrangeira e receber sua compra em casa, no escritório ou em qualquer lugar.</p>
                <p style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height: 1.5; color: #F6831C; text-align: center">Economize! Para compras acima de USD 1000, ou equivalente em outra moeda, o delivery é <b>grátis.</b></p>
            </td>
        </tr>

<!-- CTA -->
        <tr>
            <td align="center" style="padding:10px 0 15px 0;">
                <p><a style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ffffff;padding:15px 50px;background:#F6831C;text-decoration:none;border-radius:5px;display:inline-block;text-transform:uppercase;" href="https://www.beecambio.com.br?utm_source=hubspot&utm_medium=email&utm_campaign=BC_bh" target="_blank">Ver Cotação</a></p>
            </td>
        </tr>
        <tr>
            <td align="center" style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #909090;">
                <p>Abraço.</p>
            </td>
        </tr>
    </table>
    
 <!-- footer -->  
     <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 20px; background-color: #f1f2f3;">
        <tr>
            <td align="center">
                <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                    <tr>
                        <td>
                            <a href="tel:55-11-3254-6329" style="text-decoration:none;">
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#909090; text-align:center;"><img  src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-067/icon_telefone.png" /> &nbsp;11 4280-4659</p>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="mailto:contato@beecambio.com.br" style="text-decoration:none;">
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#909090;text-align:center; margin-left:8px;"><img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-067/icon_mail.png" /> &nbsp;contato@<span>beecambio</span>.com<span>.</span>br</p>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#909090;text-align:center;"> {{ site_settings.company_street_address_1 }} - {{ site_settings.company_city }} - {{ site_settings.company_state }} - Brasil</p>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
            <td   style="font-family: Arial; font-size: 10px; line-height: 1em; color: #909090; padding-top:30px;text-align: center;">
                <p>POWERED BY</p>
                <a href="https://beetech.global/" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png" width="120px" /></a>
            </td>
        </tr>
        <tr>
            <td   width="300px" height="12" style="font-family: Arial; font-size: 12px; color: #909090; padding-top:10px;text-align: center;">
                <p>Todos os direitos reservados {{ site_settings.company_name }} @ 2018</p>
            </td>
        </tr>
                </table>
            </td>
         </tr>
    </table>
    
<!-- END content -->
<p>Deseja parar de receber os emails da BeeCâmbio? <br>Clique em <a href={{ unsubscribe_link }}>Cancelar Assinatura</a>.</p>
</body>
</html>