<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Economize na viagem com seu amor 💕+✈️=💸 | BeeCâmbio</title>
</head>

<body style="margin: 0; padding: 0;" align="center">
  <!-- preview text -->
  <table align="center" width="100%" height="36px" cellpadding="0" cellspacing="0" style="background-color:#22aabb; padding: 0px 10px;">
    <tr>
      <td>
        <p style="font-family: Arial; font-size: 12px; line-height: 1.5; color: #ffffff; text-align: center">O amor
          está no ar!</p>
      </td>
    </tr>
  </table>

  <!-- bg wrapper -->
  <table align="center" width="100%" cellpadding="0" cellspacing="0" style="background-color:#F3F3F3; background-image:url(https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Textura.png); background-position: center top; background-repeat: no-repeat;">
    <tr>
      <td>

        <!-- header logo -->
        <table align="center" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <center>
                <a href="https://www.beecambio.com.br/?utm_campaign=BC_CP_018_EC01_BCCNOL4M_Namorados&utm_source=hs_email&utm_medium=email&sent_date=20180612&utm_content=logoBC"
                  target="_blank">
                  <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/BeeCambio.png"
                    style="width: 200px; margin:46px 0px 0px 0px;" width="200px" height="40px" alt="BeeCâmbio" />
                </a></center>
            </td>
          </tr>
        </table>

        <!-- heading text -->
        <table align="center" height="120px" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <p style="font-family: Arial; font-size: 24px; line-height: 1.5em; color: #22aabb;">Comemore o Dia dos
                Namorados com desconto</p>
            </td>
          </tr>
        </table>

        <!-- content -->
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 44px; background-color: #fff;">
          <tr>
            <td style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #888888; text-align:center;">
              <p style="width: 100%; text-align:center;"><b>
                  Olá, {{contact.firstname}}. Tudo bem?
                </b></p>

              <p style="width: 100%; text-align:center;">
                Já planejou a sua próxima viagem de casal? Aproveite o nosso desconto e economize na compra de moeda
                estrangeira!
              </p>
            </td>
          </tr>
        </table>
        <!-- content -->
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 44px 44px 44px 44px; background-color: #fff5dc;">
          <tr>
            <td style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #ffaa11; text-align:center;">
              <p style="width: 100%; text-align:center;"><b>
                  Dia dos Namorados com 10% off no spread
                </b></p>

              <p style="width: 100%; text-align:center; color: #888888">
                Use o cupom “viajecomamor” e ganhe desconto na sua compra de <b>dólar (USD) e euro (EUR).</b>
                Promoção válida até 15 de junho de 2018. Cupom não cumulativo.
              </p>
            </td>
          </tr>

          <!-- CTA -->
          <tr>
            <td align="center">
              <p><a style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#fff;padding:12px 24px;background:#ffaa11;text-decoration:none; margin-top:2px; border-radius:0 10px 0 10px; border: 2px solid; border-color: rgba(255,255,255,0.4);display:inline-block;text-transform:uppercase;"
                  href="https://www.beecambio.com.br/?utm_campaign=BC_CP_018_EC01_BCCNOL4M_Namorados&utm_source=hs_email&utm_medium=email&sent_date=20180612&utm_content=CTA"
                  target="_blank">COMPRAR COM DESCONTO</a></p>
            </td>
          </tr>
        </table>

        <!-- footer -->
        <table align="center" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center">
              <p style="font-family: Arial; font-size: 24px; color: #FFaa11; font-weight:bold; padding-top: 20px; width: 100%;">Abraços
                e boas viagens.<br>BeeCâmbio.</p>
            </td>
          </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%;">
          <tr>
            <td align="center">
              <p style="font-family: Arial; font-size: 14px; line-height: 1.6em; color: #aaaaaa; font-weight:normal; padding-top: 20px; width: 80%;">Ficou
                com alguma dúvida? Fale com a gente! A BeeCâmbio oferece atendimento especializado via email, telefone,
                redes sociais e chat do site.</p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                <tr>
                  <td>
                    <a href="tel:55-11-4280-4659" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa; text-align:center;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Telefone.png"
                          width="24px" height="24px" alt="Telefone:" /> &nbsp;11 4280-4659</p>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="mailto:contato@remessaonline.com.br" style="text-decoration:none; a, a:visited, a:hover, a:active:#aaaaaa;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa;text-align:center;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Email.png" width="24px"
                          height="24px" alt="Email:" /> &nbsp;contato@beecambio.com.br</p>
                    </a>
                  </td>
                </tr>
              </table>
              <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                <tr>
                  <td>
                    <a href="whatsapp://tel:55-11-99280-5882" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa; text-align:center;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Whatsapp.png"
                          width="24px" height="24px" alt="Whastapp:" /> &nbsp;11 94286-7296</p>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="skype:RemessaOnline?chat" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa;text-align:center; margin-left:8px;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Skype.png" width="24px"
                          height="24px" alt="Skype:" /> &nbsp;Atendimento BeeCambio</p>
                    </a>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td style="padding-bottom:30px;">
                    <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:1.5; text-align:center; color:#aaaaaa;">{{site_settings.company_street_address_1}}
                      - {{site_settings.company_city}} - {{site_settings.company_state}}</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table style="max-width:600px; width:100%;" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <p style="font-family: Arial; font-size: 10px; line-height: 1em; color: #aaaaaa; text-align: center;">POWERED
                BY</p>
              <center>
                <a href="https://beetech.global/?utm_campaign=BC_CP_018_EC01_BCCNOL4M_Namorados&utm_source=hs_email&utm_medium=email&sent_date=20180612&utm_content=logoBT"
                  target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png"
                    width="120px" height="50px" alt="BeeTech" /></a>
              </center>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-family: Arial; font-size: 12px; color: #aaaaaa; padding-top:32px;text-align: center;">Todos
                os direitos reservados {{site_settings.company_name}} @ 2018</p>
              <p style="font-family: Arial; font-size: 12px; color: #aaaaaa; line-height: 1.2;">Deseja parar de receber
                os emails da BeeCâmbio? Clique em <a href="{{ unsubscribe_link }}" target="_blank" style="color: #888;">Cancelar
                  Assinatura</a>.</p>
            </td>
          </tr>
        </table>


</body>

</html>