<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Já usou seu cupom de desconto do Dia dos Pais? | BeeCâmbio</title>

  <style>
    @media (max-width: 425px) {
      .text-center {
        text-align: center;
      }

      .full-mobile {
        width: 100% !important;
        max-width: 100% !important;
      }

    }
  </style>

</head>

<body style="margin: 0; padding: 0;" align="center">
  <!-- preview text -->
  <table align="center" width="100%" height="36px" cellpadding="0" cellspacing="0" style="background-color:#22aabb; padding: 0px 10px;">
    <tr>
      <td>
        <p style="font-family: Arial; font-size: 12px; line-height: 1.5; color: #ffffff; text-align: center">
          10% de desconto* no dólar, euro e libra</p>
      </td>
    </tr>
  </table>

  <!-- bg wrapper -->
  <table align="center" width="100%" cellpadding="0" cellspacing="0" style="background-color:#F3F3F3; background-position: center top; background-repeat: no-repeat;">
    <tr>
      <td>

        <!-- header logo -->
        <table align="center" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <center>
                <a href="https://www.beecambio.com.br?utm_campaign=BC_EM_semana-dos-pais&target=BCLL120D&content=0003&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=logoBC"
                  target="_blank">
                  <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/BeeCambio.png"
                    style="width: 200px; margin:34px 0px 30px 0px;" width="200px" height="40px" alt="BeeCâmbio" />
                </a>
              </center>
            </td>
          </tr>
        </table>

        <!-- heading text -->
        <table align="center" height="120px" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <center>
                <a href="https://www.beecambio.com.br?utm_campaign=BC_EM_semana-dos-pais&target=BCLL120D&content=0003&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=header"
                  target="_blank">
                  <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/BC_CP_020/header+dia+dos+pais_lembrete.jpg"
                    width="100%" height="auto" alt="Gráfico de cotação">
                </a>
              </center>
            </td>
          </tr>
        </table>

        <!-- content -->
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 44px 10px 44px; background-color: #fff;">
          <tr>
            <td style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #888888; text-align:center;">
              <p style="width: 100%; text-align:center;"><b>
                  Olá, {{contact.firstname}}. Tudo bem?
                </b></p>

              <p style="width: 100%;font-family: Arial; font-size: 16px;line-height: 1.5em;" text-align:center;>
                Lembre-se que você pode economizar na sua próxima viagem com o cupom de desconto especial Dia dos Pais.
              </p>
            </td>
          </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 0px 44px 20px 44px; background-color: #fff;">
          <tr>
            <td align="center" style="line-height: 1.5em;">
              <center>
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#22aabb;">Ganhe 10% de
                  desconto* no dólar, euro e libra </p>
                <p><span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#22aabb;padding:12px 24px;background:#fff;text-decoration:none; border-radius:3px; border: 2px dashed #22aabb;display:inline-block;"><b>especialpais<br></b>
                  </span></p>
              </center>
            </td>
          </tr>
          <tr>
            <td align="center">
              <p><a style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#fff;padding:12px 24px;background:#22aabb;text-decoration:none; margin-bottom: 20px; border-radius:0 10px 0 10px; border: 2px solid; border-color: rgba(255,255,255,0.4);display:inline-block;text-transform:uppercase;"
                  href="https://www.beecambio.com.br?utm_campaign=BC_EM_semana-dos-pais&target=BCLL120D&content=0003&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=CTA"
                  target="_blank">COMPRAR AGORA</a></p>
              <p style="width: 100%;font-family: Arial; font-size: 12px;line-height: 1.3em; text-align:center;color: #888888;">
                *O desconto é aplicado na taxa <a href="https://www.beecambio.com.br/blog/entenda-tudo-sobre-cambio/?utm_campaign=BC_EM_semana-dos-pais&target=BCOCLE&content=0003&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=linkblog"
                  target="_blank" style="text-decoration:none; color: #22aabb; font-weight: bold;">spread</a> da sua
                compra. O cupom não é cumulativo, válido para uma compra por cliente até o dia 15/08.
              </p>
            </td>
          </tr>
        </table>

        <!-- footer -->
        <table width="100%" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td align="center">
                <p style="font-family: Arial; font-size: 24px; color: #22aabb; font-weight: bold; padding-top: 20px; width: 100%;">Abraços
                  e boas viagens.<br>BeeCâmbio.</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="max-width: 600px; width: 100%;" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td align="center">
                <p style="font-family: Arial; font-size: 14px; line-height: 1.6em; color: #aaaaaa; font-weight: normal; padding-top: 20px; width: 80%;">Ficou
                  com alguma dúvida? Fale com a gente! A BeeCâmbio oferece atendimento especializado via email,
                  telefone, redes sociais e chat do site.</p>
              </td>
            </tr>
            <tr>
              <td align="center">
                <table style="min-width: 250px; padding: 0px; margin: 0px; display: inline;">
                  <tbody>
                    <tr>
                      <td><a href="tel:55-11-4280-4655" style="text-decoration: none;">
                          <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #aaaaaa; text-align: center;"><img
                              src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Telefone.png?noresize"
                              width="24px" height="24px" alt="Telefone:" style="vertical-align: sub; max-width: 24px !important; width: 24px !important; height: 24px !important;"
                              class="icons-footer"> &nbsp;11 4280-4655</p>
                        </a></td>
                    </tr>
                    <tr>
                      <td><a href="mailto:contato@remessaonline.com.br" style="text-decoration: none; a, a: visited, a:hover, a:active:#aaaaaa;">
                          <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #aaaaaa; text-align: center;"><img
                              src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Email.png?noresize"
                              width="24px" height="24px" alt="Email:" style="vertical-align: sub; max-width: 24px !important; width: 24px !important; height: 24px !important;"
                              class="icons-footer"> &nbsp;contato@beecambio.com.br</p>
                        </a></td>
                    </tr>
                  </tbody>
                </table>
                <table style="min-width: 250px; padding: 0px; margin: 0px; display: inline;">
                  <tbody>
                    <tr>
                      <td><a href="whatsapp://tel:55-11-99280-5882" style="text-decoration: none;">
                          <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #aaaaaa; text-align: center;"><img
                              src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Whatsapp.png?noresize"
                              width="24px" height="24px" alt="Whastapp:" style="vertical-align: sub; max-width: 24px !important; width: 24px !important; height: 24px !important;"
                              class="icons-footer"> &nbsp;11 94286-7296</p>
                        </a></td>
                    </tr>
                    <tr>
                      <td><a href="skype:RemessaOnline?chat" style="text-decoration: none;">
                          <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #aaaaaa; text-align: center; margin-left: 8px;"><img
                              src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Skype.png?noresize"
                              width="24px" height="24px" style="vertical-align: sub; max-width: 24px !important; width: 24px !important; height: 24px !important;"
                              alt="Skype:" class="icons-footer"> &nbsp;Atendimento BeeCambio</p>
                        </a></td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <tbody>
                    <tr>
                      <td style="padding-top: 30px;">
                        <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.5; text-align: center; color: #aaaaaa;">{{site_settings.company_street_address_1}}
                          - {{site_settings.company_city}} - {{site_settings.company_state}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="max-width: 600px; width: 100%;" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td>
                <p style="font-family: Arial; font-size: 10px; line-height: 1em; color: #aaaaaa; text-align: center;">POWERED
                  BY</p>
                <center><a href="https://beetech.global/" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png?noresize"
                      width="120px" height="50px" alt="BeeTech" style="max-width: 120px !important; width: 120px !important; height: 50px !important;"
                      class="icons-footer"></a></center>
              </td>
            </tr>
            <tr>
              <td style="font-family: Arial; font-size: 12px; color: #909090; padding-top: 10px; text-align: center;"
                width="300px" height="12">
                <p>Todos os direitos reservados {{site_settings.company_name}} @ 2018</p>
                <p style="line-height: 1.2;">Deseja parar de receber os emails da Remessa Online? Clique em <a href="{{ unsubscribe_link }}"
                    target="_blank" style="color: #888;">Cancelar Assinatura</a>.</p>
              </td>
            </tr>
          </tbody>
        </table>