<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>⚠️ Cotação em alta! Veja o melhor momento para comprar 💸 | BeeCâmbio</title>

  <style>
    @media (max-width: 425px) {
      .text-center {
        text-align: center;
      }

      .full-mobile {
        width: 100% !important;
        max-width: 100% !important;
      }

    }
  </style>

</head>

<body style="margin: 0; padding: 0;" align="center">


  <!-- preview text -->
  <table align="center" width="100%" height="36px" cellpadding="0" cellspacing="0" style="background-color:#22aabb; padding: 0px 10px;">
    <tr>
      <td>
        <p style="font-family: Arial; font-size: 12px; line-height: 1.5; color: #ffffff; text-align: center">
          Acompanhe a situação das principais moedas estrangeiras</p>
      </td>
    </tr>
  </table>

  <!-- bg wrapper -->
  <table align="center" width="100%" cellpadding="0" cellspacing="0" style="background-color:#F3F3F3; background-position: center top; background-repeat: no-repeat;">
    <tr>
      <td>

        <!-- header logo -->
        <table align="center" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <center>
                <a href="{{contact.cart_recovery_email_cta_link}}&utm_campaign=BC_EA_CartRecoveryB&target=BCCRE1&content=0006&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=logoBC"
                  target="_blank">
                  <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/BeeCambio.png"
                    style="width: 200px; margin:46px 0px 0px 0px;" width="200px" height="40px" alt="BeeCâmbio" />
                </a>
              </center>
            </td>
          </tr>
        </table>

        <!-- heading text -->
        <table align="center" height="120px" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <p style="font-family: Arial; font-size: 32px;font-weight:bold; line-height: 1.2em; color: #ffaa11; text-align: center;">
                Alta na cotação <br>das principais moedas</p>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <a href="{{contact.cart_recovery_email_cta_link}}&utm_campaign=BC_EA_CartRecoveryB&target=BCCRE1&content=0006&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=header"
                  target="_blank">
                  <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/BC_queda_do_dolar/alta+do+dolar+BC.png"
                    width="100%" height="auto" alt="Mulher em praia paradisíaca">
                </a>
              </center>
            </td>
          </tr>
        </table>

        <!-- content -->
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 44px; background-color: #fff;">
          <tr>
            <td style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #888888; text-align:center;">
              <p style="width: 100%; text-align:center; color: #fa1;"><b>
                  Olá, #nome#, tudo bem?
                </b></p>

              <p style="width: 100%; text-align:center;">
                As cotações das principais moedas estão em alta. O dólar teve um aumento de #XX%#, deixando viajantes e
                investidores cautelosos. A forte volatilidade das moedas aumenta o risco de pagar ainda mais alto na
                cotação.</p>
              <p style="width: 100%; text-align:center;">
                Veja a cotação turismo das principais moedas estrangeiras*:<br>
                <b>
                  Dólar: R$
                  <br>
                  Euro: R$
                  <br>
                  Libra: R$
                </b>

              </p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <center>
                <p><a style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#fff;padding:12px 24px;background:#fa1;text-decoration:none; border-radius:3px; border: 1px solid; border-color: rgba(0,0,0,0.2);display:inline-block;text-transform:uppercase;"
                    href="https://remessaonline.com.br/?utm_campaign=RM_EM_copa-do-mundo05_rmlol4e_brasil-mexico&utm_source=hs_email&utm_medium=email&sent_date=20180702&utm_content=CTA"
                    target="_blank">SIMULAR COTAÇÃO</a></p>
              </center>
              <p style="font-family: Arial; font-size: 12px; color: #888; font-weight:lighter; padding-top: 20px; width: 100%;">*Este
                e-mail é meramente informativo. As cotações estão sujeitas à mudanças até o momento de fechamento da
                operação.</p>
            </td>
          </tr>
        </table>

        <!-- content -->
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 40px; background-color: #fff9e9;">
          <tr>
            <td style="font-family: Arial; font-size: 22px; line-height: 1.5em; color: #888888; text-align:center;">
              <p style="width: 100%; text-align:center;"><b>
                  Qual o momento para comprar moeda mais barato?</b></p>

              <p style="width: 100%;font-family: Arial; font-size: 16px;line-height: 1.5em; text-align:center;color: #888888;">
                Recomendamos que você sempre faça uma compra planejada de moeda. Mas o que é isso? A gente explica!
                Depois de decidir para onde vai e quanto de dinheiro deseja levar, divida o valor pelo número de meses
                que você tem até o embarque. Agora, você faz a compra da sua moeda todos os meses e diminui os riscos
                de sofrer com altas repentinas do câmbio.
              </p>
            </td>
          </tr>
        </table>

        <!-- footer -->
        <table align="center" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center">
              <p style="font-family: Arial; font-size: 24px; color: #22aabb; font-weight:bold; padding-top: 20px; width: 100%;">Abraços
                <br>BeeCâmbio.</p>
            </td>
          </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%;">
          <tr>
            <td align="center">
              <p style="font-family: Arial; font-size: 14px; line-height: 1.6em; color: #aaaaaa; font-weight:normal; padding-top: 20px; width: 80%;">Ficou
                com alguma dúvida? Fale com a gente! A BeeCâmbio oferece atendimento especializado via email, telefone,
                redes sociais e chat do site.</p>

            </td>
          </tr>
          <tr>
            <td align="center">
              <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                <tr>
                  <td>
                    <a href="tel:55-11-4280-4659" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa; text-align:center;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Telefone.png"
                          width="24px" height="24px" alt="Telefone:" style="vertical-align: sub;" /> &nbsp;11 4280-4655</p>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="mailto:contato@remessaonline.com.br" style="text-decoration:none; a, a:visited, a:hover, a:active:#aaaaaa;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa;text-align:center;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Email.png" width="24px"
                          height="24px" alt="Email:" style="vertical-align: sub;" /> &nbsp;contato@beecambio.com.br</p>
                    </a>
                  </td>
                </tr>
              </table>
              <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                <tr>
                  <td>
                    <a href="whatsapp://tel:55-11-99280-5882" style="text-decoration:none; color:#aaaaaa;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa; text-align:center;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Whatsapp.png"
                          width="24px" height="24px" alt="Whastapp:" style="vertical-align: sub;" /> &nbsp;11
                        94286-7296</p>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="skype:RemessaOnline?chat" style="text-decoration:none; color:#aaa;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa;text-align:center; margin-left:8px; "><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Skype.png" width="24px"
                          height="24px" alt="Skype:" style="vertical-align: sub;" /> &nbsp;Atendimento BeeCambio</p>
                    </a>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td style="padding-top:30px;">
                    <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:1.5; text-align:center; color:#aaaaaa;  text-decoration: none;">{{site_settings.company_street_address_1}}
                      - {{site_settings.company_city}} - {{site_settings.company_state}}</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table style="max-width:600px; width:100%;" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <p style="font-family: Arial; font-size: 10px; line-height: 1em; color: #aaaaaa; text-align: center;">POWERED
                BY</p>
              <center>
                <a href="https://beetech.global/?utm_campaign=BC_EA_CartRecoveryB&target=BCCRE1&content=0006&utm_source=hs_email&utm_medium=email&sentdate={{local_dt}}&adposition=logoBT"
                  target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png"
                    width="120px" height="50px" alt="BeeTech" /></a>
              </center>
            </td>
          </tr>
          <tr>
            <td style="font-family: Arial; font-size: 12px; color: #aaaaaa; padding: 10px 24px; text-align: center;"
              width="300px" height="12">
              <p>Todos os direitos reservados {{site_settings.company_name}} @ 2018</p>
              <p style="line-height: 1.2;">Deseja parar de receber os emails da BeeCâmbio? Clique em <a href="{{ unsubscribe_link }}"
                  target="_blank" style="color: #888888;">Cancelar Assinatura</a>.</p>
            </td>
          </tr>
        </table>