<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Comemore o St. Patrick’s Day 🍻 </title>
</head>

<body style="margin: 0; padding: 0; background-color: #f1f2f3;" align="center">
  <!-- preview text -->
  <table align="center" width="100%" height="36px" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
    <tr>
      <td>
        <p style="font-family: Arial; font-size: 12px; line-height: 1.5; color: #0a9527; text-align: center">10% de
          desconto no spread na compra de Euro</p>
      </td>
    </tr>
  </table>
  <!-- header logo -->
  <table align="center" width="100%" height="100px" cellpadding="0">
    <tr>
      <td align="center">
        <a href="https://www.beecambio.com.br" target="_blank">
          <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/_BC_BASE/beecambio+SP-logo-primario_2x.png"
            style="width: 201px; height: px; margin-top:25px; margin-bottom:25px;" alt="BeeCâmbio" />
        </a>
      </td>
    </tr>
  </table>
  <!-- hero -->
  <table align="center" height="350px" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; background-color:#EC5853; background: url(https://s3-us-west-2.amazonaws.com/beecambiomkt/images/BC_CP_012/ST+PATRICKs+DAY+post-02.png) center center; padding:0 30px 0 0;">
    <tr>
      <td align="center">
        <p style="font-family:Arial, Helvetica, sans-serif;font-size:22px;font-weight:bold;color:#0a9527;padding-left:25px; margin: 0 20px;">Celebre
          o feriado e economize<br> na sua viagem</p>
      </td>
    </tr>
  </table>

  <!-- conteúdo -->
  <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 30px 40px; background-color: #ffffff;">
    <tr>
      <td align="center" style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #909090;">
        <p>Olá {{contact.firstname}}, tudo bem?</p>
        <p>No sábado, dia 17/03, é comemorado o St. Patrick’s Day, feriado irlandês para homenagear o padroeiro São
          Patrício. E para celebrar essa data, nada melhor que um desconto na compra de euro. Aproveite e economize!</p>
        <p style="font-family: Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold; line-height: 1.5; color: #0a9527; text-align: center">Celebre
          com desconto na sua próxima compra de Euro</p>
        <p>Use o voucher <b>“stpatricksday2018” e ganhe 10% de desconto</b> no spread. Cupom não cumulativo, válido até
          o dia 23/03.</p>
      </td>
    </tr>

    <!-- CTA -->
    <tr>
      <td align="center" style="padding:10px 0 15px 0;">
        <p><a style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ffffff;padding:15px 50px;background:#0a9527;text-decoration:none;border-radius:5px;display:inline-block;text-transform:uppercase;"
            href="https://www.beecambio.com.br" target="_blank">Ver Cotações</a></p>
      </td>
    </tr>
  </table>

  <!-- aviso de limite -->
  <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 20px 40px; background-color: #e9ffec;">


    <tr align="center">
      <td width="450" height="12" style="font-family: Arial; font-size: 14px; line-height: 140%; letter-spacing: 0.2px; color:#0a9527; text-align:center;">
        <p style="font-size:18px;"><b>Separamos artigos sobre o feriado irlandês para você.</b></p>
        <p><span style="font-family: Arial; font-size: 14px; line-height: 140%; letter-spacing: 0.2px; color:#909090; text-align:left; margin-right: 16px; "><a
              href="https://www.beecambio.com.br/blog/st-patricks-day-tudo-sobre-o-feriado-irlandes/" target="_blank"
              style="text-decoration:none; color: #0a9527;"><b>St. Patrick’s Day: Tudo sobre o principal feriado
                irlandês</b></a>
            <br><a href="https://www.beecambio.com.br/blog/9-pubs-para-comemorar-o-st-patricks-day-em-dublin/" target="_blank"
              style="text-decoration:none; color: #0a9527;"><b>9 Pubs para comemorar o St. Patrick’s Day em Dublin</b></a>
            <br><a href="https://www.beecambio.com.br/blog/st-patricks-day-dicas-de-etiquetas-nos-pubs-da-irlanda/"
              target="_blank" style="text-decoration:none; color: #0a9527;"><b>Dicas de etiquetas nos pubs da Irlanda</b></a>
            <p>Curta nossa <a href="https://www.facebook.com/beecambio/" target="_blank" style="text-decoration:none; color: #0a9527;"><b>página
                  no Facebook</b></a> para ficar por dentro das novidades.
          </span></p>

      </td>
    </tr>
  </table>

  <!-- conteúdo -->
  <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 20px 40px; background-color: #fff;">
    <tr>
      <td align="right" style="text-align:center; font-family: Arial, Helvetica, Sans-serif; font-size:14px; line-height:140%; color:#909090;">
        <p>Abraços e bom feriado</p>
        <p><b>BeeCâmbio</b></p>
      </td>
    </tr>
  </table>

  <!-- footer -->
  <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 20px; background-color: #f1f2f3;">
    <tr>
      <td align="center">
        <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
          <tr>
            <td>
              <a href="tel:55-11-3254-6329" style="text-decoration:none;">
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#909090; text-align:center;"><img
                    src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-067/icon_telefone.png" /> &nbsp;11
                  4280-4659</p>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="mailto:contato@beecambio.com.br" style="text-decoration:none;">
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#909090;text-align:center; margin-left:8px;"><img
                    src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-067/icon_mail.png" /> &nbsp;contato@<span>beecambio</span>.com<span>.</span>br</p>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#909090;text-align:center;"> {{
                site_settings.company_street_address_1 }} - {{ site_settings.company_city }} - {{
                site_settings.company_state }} - Brasil</p>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td style="font-family: Arial; font-size: 10px; line-height: 1em; color: #909090; padding-top:30px;text-align: center;">
              <p>POWERED BY</p>
              <a href="https://beetech.global/" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png"
                  width="120px" /></a>
            </td>
          </tr>
          <tr>
            <td width="300px" height="12" style="font-family: Arial; font-size: 12px; color: #909090; padding-top:10px;text-align: center;">
              <p>Todos os direitos reservados {{ site_settings.company_name }} @ 2018</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <!-- END content -->
  <p>Deseja parar de receber os emails da BeeCâmbio? <br>Clique em <a href={{ unsubscribe_link }}>Cancelar Assinatura</a>.</p>
</body>

</html>