<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Pesquisa de Satisfação</title>
</head>

<body style="margin: 0; padding: 0;" align="center">
  <!-- preview text -->
  <table align="center" width="100%" height="36px" cellpadding="0" cellspacing="0" style="background-color:#22aabb; padding: 0px 10px;">
    <tr>
      <td>
        <p style="font-family: Arial; font-size: 12px; line-height: 1.5; color: #ffffff; text-align: center">Pesquisa
          de Satisfação</p>
      </td>
    </tr>
  </table>
  <!-- bg wrapper -->
  <table align="center" width="100%" cellpadding="0" cellspacing="0" style="background-color:#F3F3F3; background-image:url(https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Textura.png); background-position: center top; background-repeat: no-repeat;">
    <tr>
      <td>
        <!-- header logo -->
        <table align="center" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center">
              <a href="https://www.beecambio.com.br" align="center" target="_blank">
                <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/BeeCambio.png" align="center"
                  style="width: 200px; margin:46px 0px 0px 0px;" alt="BeeCâmbio" />
              </a>
            </td>
          </tr>
        </table>
        <!-- heading text -->
        <table align="center" height="120px" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center">
              <p align="center" style="font-family: Arial; font-size: 24px; line-height: 1.5em; color: #22aabb;">Sua
                opinião é muito importante para nós!</p>
            </td>
          </tr>
        </table>
        <!-- content -->
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 20px; background-color: #fff;">
          <tr>
            <td style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #888888; text-align:center;">
              <p style="width: 100%; color: #ffaa11; text-align:center;"><b>Olá, {{contact.firstname}}, tudo bem?</b>
                <p>
                  <p style="width: 100%; text-align:center;">Gostaríamos de pedir sua contribuição para nossa pesquisa
                    de satisfação.</p>
                  <p style="width: 100%; text-align:center; color: #22aabb; font-size: 21px;">Qual a probabilidade de
                    você recomendar a <strong>BeeCâmbio</strong> para seus amigos?</p>
            </td>
          </tr>
          <!-- CTA -->
          <tr>
            <td align="center">
              <!-- NPS -->
              <table align="center" cellpadding="0" cellspacing="0" style="max-width: 500px; width: 100%; background-color: #fff; border-collapse: separate">
                <tr>
                  <td width="15%" height="45px" style="border: 1px solid #ff6611; text-align: center; padding: 3px; border-radius: 6px;">
                    <a href="https://www.surveymonkey.com/r/BeeCambio3" width="100%" height="100%" target="_blank"
                      style="color: #ff6611; text-decoration:none;">
                      <img align="center" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/NPS/Muito_Triste.png"
                        alt="muito_insatisfeito" />
                    </a>
                  </td>

                  <td width="5%" height="45px"></td>


                  <td width="15%" height="45px" style="border: 1px solid #ff8811; text-align: center; padding: 3px; border-radius: 6px;">
                    <a href="https://www.surveymonkey.com/r/BeeCambio3" target="_blank" style="color: #ff8811; text-decoration:none;">
                      <img align="center" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/NPS/Triste.png" alt="insatisfeito" />
                    </a>
                  </td>

                  <td width="5%" height="45px"></td>

                  <td width="15%" height="45px" style="border: 1px solid #ffaa11; text-align: center; padding: 3px; border-radius: 6px;">
                    <a href="https://www.surveymonkey.com/r/BeeCambio3" target="_blank" style="color: #ffaa11; text-decoration:none;">
                      <img align="center" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/NPS/Neutro.png" alt="neutro" />
                    </a>
                  </td>

                  <td width="5%" height="45px"></td>


                  <td width="15%" height="45px" style="border: 1px solid #99aa66; text-align: center; padding: 3px; border-radius: 6px;">
                    <a href="https://www.surveymonkey.com/r/BeeCambio2" target="_blank" style="color: #99aa66; text-decoration:none;">
                      <img align="center" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/NPS/Feliz.png" alt="satisfeito" />
                    </a>
                  </td>

                  <td width="5%" height="45px"></td>


                  <td width="15%" height="45px" style="border: 1px solid #22aabb; text-align: center; padding: 3px; border-radius: 6px;">
                    <a href="https://www.surveymonkey.com/r/BeeCambio1" width="100%" height="100%" target="_blank"
                      style="color: #22aabb; text-decoration:none;">
                      <img align="center" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/NPS/Muito_Feliz.png" alt="muito_satisfeito" />
                    </a>
                  </td>


                </tr>
              </table>
              <table align="center" cellpadding="0" cellspacing="0" style="max-width: 500px; width: 100%; background-color: #fff;">
                <tr>
                  <td width="50%" style="text-align: left">
                    <p style="font-family:arial; color: #ff6611; font-size: 14px;">Pouco provável</p>
                  </td>
                  <td width="50%" style="text-align: right">
                    <p style="font-family:arial; color: #22aabb; font-size: 14px;">Muito provável</p>
                  </td>

                </tr>
              </table>
            </td>
          </tr>
          <!-- links -->

        </table>






        <!-- footer -->
        <table align="center" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center">
              <p style="font-family: Arial; font-size: 24px; color: #FFaa11; font-weight:bold; padding-top: 20px; width: 100%;">Abraços
                e boas viagens.<br>BeeCâmbio.</p>
            </td>
          </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%;">
          <tr>
            <td align="center">
              <p style="font-family: Arial; font-size: 14px; line-height: 1.6em; color: #aaaaaa; font-weight:normal; padding-top: 20px; width: 80%;">Ficou
                com alguma dúvida? Fale com a gente! A BeeCâmbio oferece atendimento especializado via email, telefone,
                redes sociais e chat do site.</p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                <tr>
                  <td>
                    <a href="tel:55-11-4280-4659" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa; text-align:center;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Telefone.png"
                          alt="Telefone:" /> &nbsp;11 4280-4659</p>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="mailto:contato@remessaonline.com.br" style="text-decoration:none; a, a:visited, a:hover, a:active:#aaaaaa;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa;text-align:center;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Email.png" alt="Email:" />
                        &nbsp;contato@beecambio.com.br</p>
                    </a>
                  </td>
                </tr>
              </table>
              <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                <tr>
                  <td>
                    <a href="whatsapp://tel:55-11-99280-5882" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa; text-align:center;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Whatsapp.png"
                          alt="Whastapp:" /> &nbsp;11 94286-7296</p>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="skype:RemessaOnline?chat" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#aaaaaa;text-align:center; margin-left:8px;"><img
                          src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Skype.png" alt="Skype:" />
                        &nbsp;Atendimento BeeCambio</p>
                    </a>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td style="padding-top:30px;">
                    <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:1.5; text-align:center; color:#aaaaaa;">
                      {{ site_settings.company_street_address_1 }} - {{ site_settings.company_city }} - {{
                      site_settings.company_state }} - Brasil</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table style="max-width:600px; width:100%;" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <p style="font-family: Arial; font-size: 10px; line-height: 1em; color: #aaaaaa; text-align: center;">POWERED
                BY</p>
              <center>
                <a href="https://beetech.global/" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png"
                    width="120px" alt="BeeTech" /></a>
              </center>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-family: Arial; font-size: 12px; color: #aaaaaa; padding-top:32px;text-align: center;">Todos
                os direitos reservados {{ site_settings.company_name }} @ 2018</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>

  </table>
  <!-- END content -->
  <p>Deseja parar de receber os emails da BeeCâmbio? <br>Clique em <a href={{ unsubscribe_link }}>Cancelar Assinatura</a>.</p>
</body>