<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conheça o novo site da BeeCâmbio</title>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff;" align="center">
  <!-- preview text -->
  <table align="center" width="100%" cellpadding="0" cellspacing="0" style="background-color:#F6831C;">
    <tr>
      <td>
        <p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#ffffff;text-align:center;">Você é um
          cliente especial! Seja o primeiro a conhecer nosso novo site</p>
      </td>
    </tr>
  </table>

  <!-- header logo -->
  <table align="center" width="100%" height="80px" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <a href="https://www.beecambio.com.br" target="_blank">
          <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-067/bee-cambio-logo.png" style="width:201px;" />
        </a>
      </td>
    </tr>
  </table>

  <!-- hero -->

  <table align="center" height="150px" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; background-color:#275371; background: url(https://s3-us-west-2.amazonaws.com/beecambiomkt/images/BC_CP_007/header.gif) center center; padding:0 30px 0 0;">
    <tr>
      <td align="center">
        <p style="font-family:Arial, Helvetica, sans-serif;font-size:22px;font-weight:bold;color:#fff;padding-left:10px; margin: 0 20px;">A
          sua viagem começa aqui</p>
      </td>
    </tr>
  </table>

  <!-- conteúdo -->
  <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 50px 40px; border:1px solid #eee; background-color: #fff;">
    <tr>
      <td align="center" style="text-align:center; font-family: Arial, Helvetica, Sans-serif; font-size:14px; line-height:140%; color:#909090;">
        <p>Olá, {{contact.firstname}}, tudo bem?</p>
        <p>Meu nome é Alda Rocha e sou responsável pela sua experiência ao utilizar o serviço da BeeCâmbio. Estou feliz
          em anunciar que desenvolvemos um novo site para oferecer a
          melhor compra de moedas estrangeiras do Brasil para você.</p>
        <p>Por você ser um cliente especial para nós, estamos enviando um link exclusivo do nosso novo site para você
          conhecer todas as vantagens, além de um desconto no spread para a sua próxima compra de qualquer moeda
          estrangeira pelo nosso site.
        </p>
        <p><b>Utilize o cupom “novabee”, válido até o dia 31 de maio de 2018.</b></p>
        <p>O cupom não é cumulativo e não será válido nos dias 09 e 10 de maio.</p>
      </td>
    </tr>

    <tr>
      <td align="center">
        <p><a target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#fff;padding:15px 50px;background:#F6831C;text-decoration:none;border-radius:5px;display:inline-block;"
            href="https://beta.beecambio.com.br">CONHECER O NOVO SITE</a></p>
      </td>
    </tr>

    <tr>
      <td align="center" style="text-align:center; font-family: Arial, Helvetica, Sans-serif; font-size:14px; line-height:140%; color:#909090;">
        <p>Além disso, gostaria de ouvir seus feedbacks e entender o que você achou da nova plataforma, de acordo com
          sua experiência anterior. Pedimos que você explore ao máximo o nosso novo site
          e responda <b><a target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#909090"
              href="https://pt.surveymonkey.com/r/5RJQGSC">esta pesquisa</a></b>.
          Nosso foco é proporcionar uma experiência intuitiva e mais próxima de quem é mais importante para nós: você!</p>
      </td>
    </tr>

    <tr>
      <td height="10px">
      </td>
    </tr>

    <tr>
      <td align="center">
        <p style="text-align:center;">
          <b><a target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#F6831C" href="https://pt.surveymonkey.com/r/5RJQGSC">RESPONDER
              PESQUISA</a></b>
        </p>
      </td>
    </tr>


    <tr>
      <td align="center" style="text-align:center; font-family: Arial, Helvetica, Sans-serif; font-size:14px; padding: 10px; line-height:140%; color:#909090;">
        <p>Todas as informações são sigilosas e serão utilizadas apenas para estudos com foco em melhorias dos nossos
          serviços.</p>
      </td>
    </tr>

    <tr>
      <td height="10px">
      </td>
    </tr>

    <tr>
      <td align="right" style="text-align:center; font-family: Arial, Helvetica, Sans-serif; font-size:14px; line-height:140%; color:#909090;">
        <p>Obrigada pela parceria e por confiar no nosso trabalho.</p>
        <p>Abraços e boas viagens.</p>
      </td>
    </tr>
  </table>

  <!-- footer -->
  <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 20px; background-color: #f1f2f3;">
    <tr>
      <td align="center">
        <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
          <tr>
            <td>
              <a href="tel:55-11-3254-6329" style="text-decoration:none;">
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#909090; text-align:center;"><img
                    src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-067/icon_telefone.png" /> &nbsp;11
                  4280-4659</p>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="mailto:contato@beecambio.com.br" style="text-decoration:none;">
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#909090;text-align:center; margin-left:8px;"><img
                    src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-067/icon_mail.png" /> &nbsp;contato@<span>beecambio</span>.com<span>.</span>br</p>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#909090;text-align:center;"> {{
                site_settings.company_street_address_1 }} - {{ site_settings.company_city }} - {{
                site_settings.company_state }} - Brasil</p>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td style="font-family: Arial; font-size: 10px; line-height: 1em; color: #909090; padding-top:30px;text-align: center;">
              <p>POWERED BY</p>
              <a href="https://beetech.global/" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png"
                  width="120px" /></a>
            </td>
          </tr>
          <tr>
            <td width="300px" height="12" style="font-family: Arial; font-size: 12px; color: #909090; padding-top:10px;text-align: center;">
              <p>Todos os direitos reservados {{ site_settings.company_name }} @ 2018</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <!-- END content -->
  <p>Deseja parar de receber os emails da BeeCâmbio? <br>Clique em <a href={{ unsubscribe_link }}>Cancelar Assinatura</a>.</p>
</body>

</html>