<!doctype html>
<html>

<head>
  <!-- {% if content.meta_description %} -->
  <meta name="description" content="{{ content.meta_description }}" />

    <!-- {% endif %}
    {% text "qs_utm_campaign" label="QS - utm_campaign", value="BC_BF", export_to_template_context=True,
    no_wrapper=True
    %}
    {% text "qs_target" label="QS - target", value="BCCF", export_to_template_context=True, no_wrapper=True %}
    {% text "qs_utm_content" label="QS - utm_content", value="003B", export_to_template_context=True, no_wrapper=True
    %}
    {% text "qs_utm_source" label="QS - utm_source", value="hs_email", export_to_template_context=True, no_wrapper=True
    %}
    {% text "qs_utm_medium" label="QS - utm_medium", value="email", export_to_template_context=True, no_wrapper=True %}
    {% text "hero_alt" label="Alt do Hero", value="BeeCambio", export_to_template_context=True, no_wrapper=True %}
    {% macro printQS() -%}
    {{
    '?utm_campaign='
    + widget_data.qs_utm_campaign.value
    + '&target='
    + widget_data.qs_target.value
    + '&utm_content='
    + widget_data.qs_utm_content.value
    + '&utm_source='
    + widget_data.qs_utm_source.value
    + '&utm_medium='
    + widget_data.qs_utm_medium.value
    + '&sentdate='
    + local_dt
    }}
    {%- endmacro %}

    {% macro tableContent(data) -%}
    {{- -->

  '<table class="Content">
    <tr>
      <td class="Content__td">
        <!-- ' + -->
        <!-- data +
        ' -->
    </tr>
    </td>
  </table>'
  <!-- -}}
  {%- endmacro %} -->
  <meta name="description" content="{{ content.meta_description }}" />
  <!-- {% endif %} -->
  <style type="text/css" id="hs-inline-css">
    html,
    body {
      margin: 0;
    }

    html,
    body,
    table,
    td,
    p {
      font-family: Arial, Helvetica, sans-serif;
      padding: 0;
    }

    p {
      margin: 0;
    }

    table {
      border-spacing: 0px;
      border-collapse: collapse;
    }

    .Header {
      background-image: url('https://s3-us-west-2.amazonaws.com/beecambiomkt/images/BC_CP_021/BC_CP_021_Background.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      max-width: 600px;
      margin: 0 auto;
      width: 100vw;
      height: 680px;
      padding-top: 0.8px;
    }

    .Conteudo {
      background-color: #232323;
      max-width: 600px;
      margin: 0 auto;
    }


    .Logo img {
      max-width: 100%;
      width: 175px;
      margin: 0;
    }


    .Logo {
      max-width: 560px;
      text-align: center;
      margin: 0 auto;
      padding: 15px 20px;
      background-color: #232323;

    }



    .Content p.HeaderTitle {
      color: #42b5f0;
      font-size: 30px;
      max-width: 488px;
    }

    .Content {
      margin-bottom: 40px;
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      color: #909090;
      line-height: 1.25;
    }

    .Content a {
      color: #1b1e28;
    }

    .Content p {
      color: #909090;
      font-size: 16px;
      line-height: 1.25;
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
      max-width: 488px;
    }

    .Content p.title {
      color: #42b5f0;
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 24px;
      font-weight: bold;
    }

    .BoxConnect {
      background-color: #ffaa11;
      color: #ffffff;
      font-size: 30px;
      font-weight: bold;
      width: 100%;
      max-width: 600px;
    }


    .Box--coupon {
      display: inline-block;
      font-size: 36px;
      border-radius: 9px;
      text-transform: uppercase;
      color: #ffaa11;
      border: 4px solid #ffaa11;
      line-height: 1;
      font-weight: normal;
      padding: 15px 50px;
      margin-bottom: 20.5px;
    }

    .Box--dashed {
      display: block;
      font-family: 'OpenSans', sans-serif;
      border-radius: 9px;
      border: 4px dashed #66ffcc;
      padding: 15px 10px;
      margin: 0 20px 20px;
      text-align: center;
      line-height: normal;
    }

    .Box--dashed .title {
      color: #42b5f0;
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .Box--dashed .subtitle {
      color: #42b5f0;
      font-size: 16px;
      margin-bottom: 0px;
    }

    .BoxCard {
      background-image: url('https://s3-us-west-2.amazonaws.com/beecambiomkt/images/RM_FT_029/Bg-Voucher.png');
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
      padding-top: 45px;
      padding-bottom: 41px;
    }

    .BoxCard p {
      margin: 0 auto 24px;
      color: #fff;
      font-size: 30px;
      max-width: 380px;
      font-weight: bold;
      padding: 0 20px;
    }

    .BoxCard img {
      width: 310px;
      height: auto;
    }


    .Button {
      background-color: #ffaa11;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      display: inline-block;
      padding: 14px 42px;
      border: solid 2px rgba(255, 255, 255, 0.4);
      font-size: 16px;
      color: #ffffff !important;
      text-decoration: none;
      text-transform: uppercase;
    }

    .Button--blue {
      background-color: #42b5f0;
      border-radius: 50px;
      display: inline-block;
      box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
      padding: 13px 75px;
      border: none;
      font-size: 12px;
      font-weight: 600;
      color: #fff !important;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 14px;
      margin-bottom: 50px;
    }

    .Button--green {
      background-color: #66ffcc;
      border-radius: 24px;
      display: inline-block;
      box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
      padding: 13px 75px;
      border: none;
      font-size: 12px;
      font-weight: bold;
      color: #449ad8 !important;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 14px;
    }

    .Social {
      text-align: center;
      margin-bottom: 24.2px;
    }

    .Social a {
      text-decoration: none;
      display: inline-block;
    }

    .Social img {
      width: 54px;
      height: 54px;
    }

    .Social :nth-child(2) {
      margin: 0 28.5px;d
    }

    .Footer {
      background: #F7FAFB;
      font-size: 12px;
      padding: 15px 0;
    }

    .Footer table {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }

    .Footer td {
      padding: 0 20px;
      text-align: center;
    }

    .Footer p {
      color: #888;
      text-align: center;
      font-size: 12px;
      margin: 0 0 15px;
    }

    .Footer__beetech-logo,
    .Footer__beetech-logo img {
      display: block;
      width: 120px;
    }

    .Footer__beetech-logo {
      margin: 15px auto;
    }

    .Footer a {
      color: #888;
    }

    .Footer .m-0 {
      margin: 0;
    }
  </style>
</head>

<body>


  <div class="Logo">
    <a href="{% text " logo_link" label="Link do Logo" , value="" , no_wrapper=True %}" target="_blank" title="{% text "
      title_logo" label="Title do Logo" , value="" , no_wrapper=True %}">
      <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/BC_CP_021/BC_CP_021_LogoBeeCambio.png" alt="{% text "
        alt_logo" label="Alt do Logo" , value="" , no_wrapper=True %}">
    </a>
  </div>



  <table align="center" style="background-color: #232323">
    <tr>
        <td align="center">
        <table class="header">


          <tr>
            <td align="center" style="vertical-align: top; padding-top: 30px;">

              <a href="{% text " logo_header" label="Link do header" , value="" , no_wrapper=True %}" target="_blank"
                title="{% text " title_header" label="Title do header" , value="" , no_wrapper=True %}">
                <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/BC_CP_021/BC_CP_021_Header.png" alt="{% text "
                  alt_header" label="Alt do header" , value="" , no_wrapper=True %}" style="max-width: 100%; max-height: 317px;">
              </a>

            </td>
          </tr>

        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table class="Conteudo">
          <tr style="margin-bottom: 32px;">
            <td>
              <p style="text-align: center; color: #ffffff; font-weight: bold; font-size: 16px; margin: 18px 0;">Olá,
                {{contact.firstname}} tudo bem?</p>
              <p style="text-align: center; color: #ffffff; font-size: 16px; padding: 0px 37px; line-height: 1.56; margin-bottom: 36.3px">Hoje
                é dia de Black Friday e nós fizemos uma
                promoção exclusiva para você economizar ainda mais. Só hoje:
                <span style="font-weight: bold; color:#ffaa11">20% off na taxa</span> da compra de dólar (USD) e euro
                (EUR) +
                <span style="font-weight: bold; color:#ffaa11">delivery grátis</span> para compras acima de USD 500 -
                ou equivalente em outra moeda. Use o cupom e economize!</p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <p class="Box--coupon" style="margin-bottom: 20px; font-weight: bold;">
                <!-- {% text "Texto Cupom" overrideable=True, label='Texto Cupom' no_wrapper=True %} --> BEEFRIDAY
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="max-width: 257px; text-align: center; margin: 0 auto; color: #ffffff; font-size: 12px; margin-bottom: 27.3px;">
                Cupom não cumulativo, válido para compras de dólar (USD) e euro (EUR) até 23/11 às 23h59.
              </p>
            </td>
          </tr>

          <tr>
            <td align="center">
              <a href="https://www.beecambio.com.br/{{ printQS() }}&adposition=CTA" class="Button" style="margin-bottom: 35.2px; max-width: 288px;">COMPRAR
                AGORA</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

  </table>




  <div style="margin: 0 auto; width: 100%;">
    <div class="BoxConnect" style="margin: 0 auto">
      <p style="padding: 10px 58px; margin: 0 auto!important; max-width: 207px; text-align: center;">
        <!--{% text "Box
        Conecte-se" overrideable=True, label='Box Conecte-se' no_wrapper=True %}A sua viagem começa aqui-->A
        sua viagem começa aqui</p>
    </div>
  </div>

  <table style="max-width: 600px; width: 100%;" cellspacing="0" cellpadding="0" align="center">
    <tbody>
      <tr>
        <td align="center">
          <p style="font-family: Arial; font-size: 14px; line-height: 1.6em; color: #aaaaaa; font-weight: normal; padding-top: 20px; width: 80%; margin-bottom: 25px">Ficou
            com alguma dúvida? Fale com a gente! A BeeCâmbio oferece atendimento especializado via email, telefone,
            redes sociais e chat do site.</p>
        </td>
      </tr>
      <tr>
        <td align="center">
          <table style="min-width: 250px; padding: 0px; margin: 0px; display: inline;">
            <tbody>
              <tr>
                <td><a href="tel:55-11-4280-4655" style="text-decoration: none;">
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #aaaaaa; text-align: center;"><img
                        src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Telefone.png?noresize"
                        width="24px" height="24px" alt="Telefone:" style="vertical-align: sub; max-width: 24px !important; width: 24px !important; height: 24px !important;"
                        class="icons-footer"> &nbsp;11 4280-4655</p>
                  </a></td>
              </tr>
              <tr>
                <td><a href="mailto:contato@remessaonline.com.br" style="text-decoration: none; a, a: visited, a:hover, a:active:#aaaaaa;">
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #aaaaaa; text-align: center;"><img
                        src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Email.png?noresize"
                        width="24px" height="24px" alt="Email:" style="vertical-align: sub; max-width: 24px !important; width: 24px !important; height: 24px !important;"
                        class="icons-footer"> &nbsp;contato@beecambio.com.br</p>
                  </a></td>
              </tr>
            </tbody>
          </table>
          <table style="min-width: 250px; padding: 0px; margin: 0px; display: inline;">
            <tbody>
              <tr>
                <td><a href="whatsapp://tel:55-11-99280-5882" style="text-decoration: none;">
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #aaaaaa; text-align: center;"><img
                        src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Whatsapp.png?noresize"
                        width="24px" height="24px" alt="Whastapp:" style="vertical-align: sub; max-width: 24px !important; width: 24px !important; height: 24px !important;"
                        class="icons-footer"> &nbsp;11 94286-7296</p>
                  </a></td>
              </tr>
              <tr>
                <td><a href="skype:RemessaOnline?chat" style="text-decoration: none;">
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #aaaaaa; text-align: center; margin-left: 8px;"><img
                        src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/SP-transacionais/Skype.png?noresize"
                        width="24px" height="24px" style="vertical-align: sub; max-width: 24px !important; width: 24px !important; height: 24px !important;"
                        alt="Skype:" class="icons-footer"> &nbsp;Atendimento BeeCambio</p>
                  </a></td>
              </tr>
            </tbody>
          </table>
          <table>
            <tbody>
              <tr>
                <td style="padding-top: 30px;">
                  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.5; text-align: center; color: #aaaaaa;">{{site_settings.company_street_address_1}}
                    - {{site_settings.company_city}} - {{site_settings.company_state}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table style="max-width: 600px; width: 100%;" cellspacing="0" cellpadding="0" align="center">
    <tbody>
      <tr>
        <td>
          <p style="font-family: Arial; font-size: 10px; line-height: 1em; color: #aaaaaa; text-align: center; margin-top: 30px;">POWERED
            BY</p>
          <center><a href="https://beetech.global/" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png?noresize"
                width="120px" height="50px" alt="BeeTech" style="max-width: 120px !important; width: 120px !important; height: 50px !important;"
                class="icons-footer"></a></center>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial; font-size: 12px; color: #909090; padding-top: 10px; text-align: center;" width="300px"
          height="12">
          <p>Todos os direitos reservados {{site_settings.company_name}} @ 2018</p>
          <p style="line-height: 1.2;">Deseja parar de receber os emails da BeeCâmbio? Clique em <a href="{{ unsubscribe_link }}"
              target="_blank" style="color: #888;">Cancelar Assinatura</a>.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="Footer" style="display:none">
    <table>
      <tr>
        <td>
          <p>POWERED BY</p>
          <a class="Footer__beetech-logo" href="{% text " footer_beetech_url" label="Footer BeeTech URL" , value="https://beetech.global/?utm_campaign=RM_EM_001_Evento-BeeMyGuest&utm_source=hs_email&utm_medium=email&sent_date=20180710&utm_content=logoBTFooter"
            , no_wrapper=True %}" title="BeeTech Global" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/RM_CA_003/BEETECH_LOGO.png" alt="BeeTech Global" />
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            {{ site_settings.company_name }} <br>
            {{ site_settings.company_street_address_1 }} <br>
            {{ site_settings.company_street_address_2 }}, {{ site_settings.company_city }} - {{
            site_settings.company_state }} <br>
            CEP: {{ site_settings.company_zip }}
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Todos os direitos reservados @ {{ year }}</p>
          <p class="m-0">
            Deseja parar de receber os emails da Remessa Online? Clique em <a href="{{ unsubscribe_link }}" target="_blank"
              title="Cancelar a assinatura de emails">Cancelar Assinatura</a>.
          </p>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>