<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>⚽ SPREAD com 10% de desconto ⚽ RemessaOnline</title>
</head>

<body style="margin: 0; padding: 0;" align="center">
  <!-- preview text -->
  <table align="center" width="100%" height="36px" cellpadding="0" cellspacing="0" style="background-color:#fff; padding: 0px 10px;">
    <tr>
      <td>
        <p style="font-family: Arial; font-size: 12px; line-height: 1.5; color: #07b; text-align: center">Faça
          transferências mais baratas pela Remessa Online</p>
      </td>
    </tr>
  </table>

  <!-- bg wrapper -->
  <table align="center" width="100%" cellpadding="0" cellspacing="0" style="background-color:#F3F3F4;">
    <tr>
      <td>

        <!-- header logo -->
        <table align="center" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <center>
                <a href="https://remessaonline.com.br/?utm_campaign=BN_EM_copa-do-mundo03_ALL_brasil-servia&utm_source=hs_email&utm_medium=email&sent_date=20180627&utm_content=logoRM"
                  target="_blank">
                  <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_remessa_online2x.png"
                    style="width: 175px; margin:24px 0px;" width="175px" height="30px" alt="RemessaOnline" />
                </a>
              </center>
            </td>
          </tr>
        </table>

        <!-- heading text -->
        <table align="center" height="230px" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; background-color:#0077bb; background-image: url(https://s3-us-west-2.amazonaws.com/beecambiomkt/images/RM_CP_031/header.png); background-repeat:no-repeat; padding:30px 30px; background-position: center center;">
          <tr>
            <td>
              <center>
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:34px;font-weight:bold;color:#fff; text-align: center; margin: 0 auto">Desconto
                  especial nos envios de dólar ou euro</p>
              </center>
            </td>
          </tr>
        </table>

        <!-- content -->
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 44px; background-color: #fff;">
          <tr>
            <td style="font-family: Arial; font-size: 18px; line-height: 1.5em; color: #888888; text-align:center;">
              <p style="width: 100%; text-align:center; color: #07b;"><b>
                  Olá, {{contact.firstname}}, tudo bom?
                </b></p>

              <p style="width: 100%; text-align:center;">
                Hoje é dia de Brasil x Sérvia! E aqui na Remessa Online o resultado já saiu: <b>10% de desconto no
                  SPREAD</b>* para envios em euro (EUR) ou dólar (USD). </p>

              <p style="width: 100%; text-align:center;font-family: Arial; font-size: 12px; line-height: 1.2em; color: #888888;">
                *Promoção válida somente para transferências feitas em 27/06 e 28/06, em dólar (USD) ou euro (EUR). O
                cupom não é cumulativo e é válido somente para uma operação.</p>
            </td>
          </tr>
        </table>

        <!-- content gray box -->
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 44px; background-color: #eee;">
          <tr>
            <td style="font-family: Arial; font-size: 24px; line-height: 1.4em; color: #888888; text-align:center;">
              <p style="width: 100%; text-align:center; color: #07b;"><b>
                  Divulgue o cupom “BRAXSER” para seus leitores economizarem 10% no SPREAD.
                </b></p>
            </td>
          </tr>


          <!-- CTA -->
          <tr>
            <td align="center">
              <center>
                <p><a style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#fff;padding:12px 24px;background:#0b4;text-decoration:none; border-radius:3px; border: 1px solid; margin-bottom: 20px; border-color: rgba(0,0,0,0.2);display:inline-block;text-transform:uppercase;"
                    href="https://remessaonline.com.br/?utm_campaign=BN_EM_copa-do-mundo03_ALL_brasil-servia&utm_source=hs_email&utm_medium=email&sent_date=20180627&utm_content=CTA"
                    target="_blank">VER COTAÇÃO</a></p>
              </center>
              <p style="width: 100%; text-align:center;font-family: Arial; font-size: 12px; line-height: 1.2em; color: #888888;"><b>*IMPORTANTE:
                  por conta da partida entre Brasil X Sérvia, no dia 27/06 o atendimento da Remessa Online funcionará
                  somente até 13h30min.</b></p>
            </td>
          </tr>
        </table>

        <!-- footer -->
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 20px; background-color: #445577; background-image: url(https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_remessa_bg_footer2x.png); background-size: 303px 350px; background-repeat: no-repeat; background-position: right -40px;">
          <tr>
            <td align="center">
              <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                <tr>
                  <td>
                    <a href="tel:55-11-4280-4659" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff; text-align:center;"><img
                          style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/phone_icon2x.png" />
                        &nbsp;11 4280-4659</p>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="skype:RemessaOnline?chat" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff;text-align:center;"><img
                          style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_skype2x.png" />
                        &nbsp;RemessaOnline</p>
                    </a>
                  </td>
                </tr>
              </table>
              <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
                <tr>
                  <td>
                    <a href="whatsapp://tel:55-11-99280-5882" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff; text-align:center;"><img
                          style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_whatsapp2x.png" />
                        &nbsp;11 99280-5882</p>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="mailto:contato@remessaonline.com.br" style="text-decoration:none;">
                      <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff;text-align:center; margin-left:8px;"><img
                          style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/mail_icon2x.png" />
                        &nbsp;contato@<span>remessaonline</span>.com<span>.</span>br</p>
                    </a>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td style="padding-top:30px;">
                    <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:140%; text-align:center; color:#fff;">{{site_settings.company_street_address_1}}
                      - {{site_settings.company_city}} - {{site_settings.company_state}}</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; height:80px; background-color: #334466; background-image: url(https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/line_footer.jpg); background-repeat: no-repeat; background-position: bottom;">
          <tr>
            <td align="center">
              <a href="https://www.facebook.com/remessaonline/?utm_campaign=RM_CP_31_EC01_RMLOL4E_Copa-brasil-suica&utm_source=hs_email&utm_medium=email&sent_date=20180615&utm_content=facebook"
                target="_blank"><img border="0" width="25px" style="padding:26px 15px" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/social_facebook2x.png" /></a>
              <a href="https://www.linkedin.com/company-beta/10898965/?utm_campaign=RM_CP_31_EC01_RMLOL4E_Copa-brasil-suica&utm_source=hs_email&utm_medium=email&sent_date=20180615&utm_content=linkedin"
                target="_blank"><img border="0" width="25px" style="padding:26px 15px" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/social_linkedin2x.png" /></a>
              <a href="https://twitter.com/RemessaOnline?utm_campaign=RM_CP_31_EC01_RMLOL4E_Copa-brasil-suica&utm_source=hs_email&utm_medium=email&sent_date=20180615&utm_content=twitter"
                target="_blank"><img border="0" width="25px" style="padding:24px 15px" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/social_twitter2x.png" /></a>
            </td>
          </tr>
        </table>
        <table style="max-width:600px; width:100%;" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <p style="font-family: Arial; font-size: 10px; line-height: 1em; color: #aaaaaa; text-align: center; margin-top:24px;">POWERED
                BY</p>
              <center>
                <a href="https://beetech.global/?utm_campaign=BN_EM_copa-do-mundo04_ALL_brasil-servia&utm_source=hs_email&utm_medium=email&sent_date=20180627&utm_content=logoBT"
                  target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png"
                    width="120px" height="50px" alt="BeeTech" /></a>
              </center>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-family: Arial; font-size: 12px; color: #909090; padding-top: 10px; text-align: center;">Todos
                os direitos reservados {{site_settings.company_name}} @ 2018</p>
              <p style="line-height: 1.2; font-family: Arial; font-size: 12px; color: #909090; padding-top: 10px; text-align: center;">Deseja
                parar de receber os emails da Remessa Online? Clique em <a href="{{ unsubscribe_link }}" target="_blank"
                  style="color: #888;">Cancelar Assinatura</a>.</p>
            </td>
          </tr>
        </table>