<!doctype html>
<html>

<head>
  <title>{% if content.html_title and content.html_title != '' %}{{ content.html_title }}{% else
    %}{{content.body.subject }}{% endif %}</title>
  {% if content.meta_description %}
  <meta name="description" content="{{ content.meta_description }}" />{% endif %}
  {% text "qs_utm_campaign" label="QS - utm_campaign", value="RM_EM", export_to_template_context=True, no_wrapper=True
  %}
  {% text "qs_target" label="QS - target", value="RMCF", export_to_template_context=True, no_wrapper=True %}
  {% text "qs_utm_content" label="QS - utm_content", value="003B", export_to_template_context=True, no_wrapper=True %}
  {% text "qs_utm_source" label="QS - utm_source", value="hs_email", export_to_template_context=True, no_wrapper=True
  %}
  {% text "qs_utm_medium" label="QS - utm_medium", value="email", export_to_template_context=True, no_wrapper=True %}
  {% text "hero_alt" label="Alt do Hero", value="Remessa Online", export_to_template_context=True, no_wrapper=True %}
  {% macro printQS() -%}
  {{
  '?utm_campaign='
  + widget_data.qs_utm_campaign.value
  + '&target='
  + widget_data.qs_target.value
  + '&utm_content='
  + widget_data.qs_utm_content.value
  + '&utm_source='
  + widget_data.qs_utm_source.value
  + '&utm_medium='
  + widget_data.qs_utm_medium.value
  + '&sentdate='
  + local_dt
  }}
  {%- endmacro %}

  {% macro tableContent(data) -%}
  {{-
  '<table class="Content">
    <tr>
      <td class="Content__td">' +
        data +
        '
    </tr>
    </td>
  </table>'
  -}}
  {%- endmacro %}
  <meta name="description" content="{{ content.meta_description }}" />{% endif %}
  <style type="text/css" id="hs-inline-css">
    html,
    body {
      margin: 0;
    }

    html,
    body,
    table,
    td,
    p {
      font-family: Arial, Helvetica, sans-serif;
      padding: 0;
    }

    table {
      border-spacing: 0px;
      border-collapse: collapse;
    }



    .Header {
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
      max-width: 600px;
      width: 100%;
      height: 479px;
      text-align: center;
      padding-top: 31px;
    }

    .Header .title {
      font-size: 30px;
      color: #FFF;
      max-width: 320px;
      margin-top: -190px;
    }

    .Header .title span {
      color: #66ffcc;
    }

    .TopMessage {
      width: 100%;
      background-color: #42b5f0;
      max-width: 600px;
      margin: 0 auto;
    }

    .TopMessage p {
      font-size: 12px;
      color: #ffffff;
      text-align: center;
      margin: 0;
    }

    .TopMessage td {
      padding: 12px 20px;
    }

    .Logo {
      width: 100%;
      max-width: 600px;
      text-align: center;
    }

    .Logo td {
      padding: 15px 20px;
      text-align: center;
    }

    .Logo img {
      max-width: 100%;
      width: 175px;
      margin: 0;
    }

    .Content p.HeaderTitle {
      color: #42b5f0;
      font-size: 30px;
      max-width: 488px;
    }

    .HeroIMG {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }

    .HeroIMG a {
      display: block;
    }

    .HeroIMG img {
      width: 100%;
      display: block;
      margin: 0;
    }

    .Content {
      margin-bottom: 40px;
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      color: #909090;
      line-height: 1.25;
    }

    .Content a {
      color: #1b1e28;
    }


    .Content p {
      color: #909090;
      font-size: 16px;
      line-height: 1.25;
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
      max-width: 488px;
    }

    .Content p.title {
      color: #42b5f0;
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 24px;
      font-weight: bold;
    }

    .ProgramaDescontos img {
      width: 130px;
      height: 112px;
    }

    .ProgramaDescontos h2 {
      color: #42b5f0;
      padding: 0 3px;
    }

    .ProgramaDescontos h3 {
      color: #42b5f0;
    }

    .ProgramaDescontos p {
      color: #888888;
      padding: 0 20px;
      margin-bottom: 50px;
      font-size: 16px;
    }

    .Content .BoxConnect--white {
      background-color: #fff;
      color: #42b5f0;
      padding: 20px 60px;
      font-size: 30px;
      font-weight: bold;

    }

    .Content .BlackFriday--coupon {
      background-color: #fff;
      color: #010b1f;
      font-size: 36px;
      padding: 15px 20px;
      margin: 0 auto;
    }

    .Content .Box--coupon {
      background-color: #ffffff;
      text-align: center;
      font-size: 36px;
      border-radius: 5px;
      text-transform: uppercase;
      color: #010b1f;
      line-height: 1;
      font-weight: bold;
      padding: 10px 6px;
      margin-bottom: 16px;
      WIDTH: 100%;
      max-width: 300px;
    }

    .Content .Box--couponDashed {
      display: inline-block;
      font-family: 'OpenSans', sans-serif;
      font-size: 44px;
      font-weight: 600;
      border-radius: 5px;
      border: 4px dashed #66ffcc;
      text-transform: uppercase;
      color: #66ffcc;
      line-height: 1;
      padding: 11px 38px;
      letter-spacing: 4.7px;
      margin-bottom: 26px;
    }

    .Box--dashed {
      display: block;
      max-width: 449px;
      border-radius: 9px;
      border: 4px dashed #66ffcc;
      padding: 15px 20px;
      margin: 0 auto 20px;
      text-align: center;
      line-height: normal;
      margin-bottom: 40px;
    }

    .Box--dashed .title {
      color: #42b5f0;
      font-size: 24px !important;
      margin-bottom: 7px !important;
      font-weight: bold;
    }

    .Box--dashed .subtitle {
      color: #42b5f0;
      font-size: 16px;
      margin-bottom: 0px;
    }

    .BoxCard {
      background-image: url('https://s3-us-west-2.amazonaws.com/beecambiomkt/images/RM_FT_029/Bg-Voucher.png');
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
      padding-top: 45px;
      padding-bottom: 26px;
    }

    .BoxCard p {
      margin: 0 auto 24px;
      color: #fff;
      font-size: 30px;
      max-width: 380px;
      font-weight: bold;
      padding: 0 20px;
    }

    .BoxCard img {
      width: 310px;
      height: auto;
    }


    .Button {
      background-color: #fff;
      border-radius: 50px;
      display: inline-block;
      box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
      padding: 11px 61px;
      border: none;
      font-size: 12px;
      font-weight: 600;
      color: #010b1f !important;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 14px;
      margin-bottom: 42px;
    }

    .Button--blue {
      background-color: #42b5f0;
      border-radius: 50px;
      display: inline-block;
      box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
      padding: 13px 75px;
      border: none;
      font-size: 12px;
      font-weight: 600;
      color: #fff !important;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 14px;
      margin-bottom: 50px;
    }

    .Button--green {
      background-color: #66ffcc;
      border-radius: 24px;
      display: inline-block;
      box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
      padding: 13px 75px;
      border: none;
      font-size: 12px;
      font-weight: bold;
      color: #449ad8 !important;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 14px;
    }

    .Social {
      text-align: center;
      margin-bottom: 24.2px;
    }

    .Social a {
      text-decoration: none;
      display: inline-block;
    }

    .Social img {
      width: 54px;
      height: 54px;
    }

    .Social :nth-child(2) {
      margin: 0 28.5px;
    }

    .BoxConnect {
      background-image: url('https://s3-us-west-2.amazonaws.com/beecambiomkt/images/RM_FT_029/Bg-BoxConnect.png');
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      width: 100%;
      max-width: 600px;
    }


    .Footer {
      background: #F7FAFB;
      font-size: 12px;
      padding: 15px 0;
      max-width: 600px;
      margin: 0 auto;
    }

    .Footer table {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }

    .Footer td {
      padding: 0 20px;
      text-align: center;
    }

    .Footer p {
      color: #888;
      text-align: center;
      font-size: 12px;
      margin: 0 0 15px;
    }

    .Footer__beetech-logo,
    .Footer__beetech-logo img {
      display: block;
      width: 120px;
    }

    .Footer__beetech-logo {
      margin: 15px auto;
    }

    .Footer a {
      color: #888;
    }

    .Footer .m-0 {
      margin: 0;
    }
  </style>
</head>

<body>
  <!-- Preview text (text which appears right after subject in certain email clients) -->
  <div id="preview_text" style="display:none!important">{% text "preview_text" label="Preview Text <span class=help-text>This
      will be used as the preview text that displays in some email clients</span>", value="", no_wrapper=True %}</div>
  <!-- View as webpage link -->
  <table class="TopMessage">
    <tr>
      <td>
        <p style="padding: 0 32px;"> {% text "mensagem_topo" label="Mensagem Topo", value="Remessa Online",
          no_wrapper=True %}</p>
      </td>
    </tr>
  </table>

  <table class="Logo">
    <tr>
      <td>
        <a href="{% text " logo_link" label="Link do Logo" , value="https://www.remessaonline.com.br/{{ printQS() }}&adposition=logoRM"
          , no_wrapper=True %}" target="_blank" title="Remessa Online">
          <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/RM_EM_007/RM-logo.png" alt="Logo da Remessa Online">
        </a>
      </td>
    </tr>
  </table>

  <table class="HeroIMG">
    <tr>
      <td style="background-color: #001435;">
        <a href="{% text " hero_link" label="Link do Hero" , value="https://www.remessaonline.com.br" , no_wrapper=True
          %}{{ printQS() }}&adposition=header" title="{{ widget_data.hero_alt.value }}">
          <img src="{% text " hero_img_url" label="Caminho da Imagem do Hero" , value="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/RM_CP_041+/RM_CP_041---Clientes-Remessa---gif-header.gif"
            , no_wrapper=True %}" alt="{{ widget_data.hero_alt.value }}">
        </a>
      </td>
    </tr>
  </table>

  <table class="Content">
    <tr>
      <td class="Content__td" style="margin-bottom:18px ">
        {% widget_block raw_html "Conteudo" overrideable=True, label='Conteudo' no_wrapper=True %}
        {% widget_attribute "value" %}
        {% end_widget_attribute %}
        {% end_widget_block %}
      </td>
    </tr>
    <tr align="center" style="margin: 0 0 28px 0">
      <td>
        <p style="margin: 44px auto; margin-bottom: 24px; color: #42b5f0; font-weight: bold;">
          {% text "Título Conteúdo" overrideable=True, label='Título Conteúdo' no_wrapper=True %}
          <!-- Olá, {{contact.firstname}}. Tudo bem? -->
          <div style="padding: 0 21px; max-width: 4880px; margin-bottom: 24px;">
            {% text "Texto Conteúdo" overrideable=True, label='Texto Conteúdo' no_wrapper=True %}
            <!--<strong>Hoje é dia de Black Friday!</strong> Faça as suas remessas com <span style="color: #00e37b; font-weight: bold;">15% off na taxa</span> das suas transferências internacionais de qualquer moeda pelo nosso site. Use o cupom e economize! -->
          </div>
      </td>
    </tr>

    <tr>
      <td align="center">

        <a href="https://www.remessaonline.com.br/app/perfil/limites{{ printQS() }}&adposition=CTA" class="Button--blue"
          style="margin-top: 13px;">{% text "Texto Botão" overrideable=True, label='Texto Botão' no_wrapper=True %}</a>
      </td>
    </tr>

  </table>


  <table style="margin: 0 auto; width: 100%">
    <tr style="max-width:600px;">
      <td align="center">
        <div class="BoxConnect">
          <p style="margin: 0; padding: 15px 0; max-width: 200px;">{% text "Box Conecte-se" overrideable=True,
            label='Box Conecte-se' no_wrapper=True %}</p>
        </div>
      </td>
    </tr>
  </table>


  <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; background-color: #445577; background-image: url(https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_remessa_bg_footer2x.png); background-size: 303px 350px; background-repeat: no-repeat; background-position: right -40px;">
    <tr>
      <td align="center" style="padding: 40px 20px;">
        <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
          <tr>
            <td>
              <a href="tel:55-11-4280-4659" style="text-decoration:none;">
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff; text-align:center; margin: 1em 0;"><img
                    style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/phone_icon2x.png" />
                  &nbsp;11 4280-4659</p>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="skype:RemessaOnline?chat" style="text-decoration:none;">
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff;text-align:center; margin: 1em 0;"><img
                    style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_skype2x.png" />
                  &nbsp;RemessaOnline</p>
              </a>
            </td>
          </tr>
        </table>
        <table style="min-width: 250px; padding: 0px; margin: 0px; display:inline;">
          <tr>
            <td>
              <a href="whatsapp://tel:55-11-99280-5882" style="text-decoration:none;">
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff; text-align:center; margin: 1em 0;"><img
                    style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/logo_whatsapp2x.png" />
                  &nbsp;11 99280-5882</p>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="mailto:contato@remessaonline.com.br" style="text-decoration:none;">
                <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff;text-align:center; margin: 1em 0 1em 8px;"><img
                    style="vertical-align:bottom; width:15px;" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/mail_icon2x.png" />
                  &nbsp;contato@<span>remessaonline</span>.com<span>.</span>br</p>
              </a>
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td style="padding-top:30px;">
              <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:140%; text-align:center; color:#fff; margin: 1em 0;">{{site_settings.company_street_address_1}}
                - {{site_settings.company_city}} - {{site_settings.company_state}}</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; height:80px; background-color: #334466; background-image: url(https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/line_footer.jpg); background-repeat: no-repeat; background-position: bottom;">

    <tr>
      <td align="center">
        <a href="https://www.facebook.com/remessaonline/{{ printQS() }}&adposition=logoFB" target="_blank"><img border="0"
            width="25px" style="padding:26px 15px" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/social_facebook2x.png" /></a>
        <a href="https://www.linkedin.com/company-beta/10898965/{{ printQS() }}&adposition=logoLN" target="_blank"><img
            border="0" width="25px" style="padding:26px 15px" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/social_linkedin2x.png" /></a>
        <a href="https://twitter.com/remessaonline/{{ printQS() }}&adposition=logoTW" target="_blank"><img border="0"
            width="25px" style="padding:26px 15px" src="https://s3-us-west-2.amazonaws.com/beecambiomkt/CRM/emails_gerais_remessa/_assets_retina/social_twitter2x.png" /></a>
      </td>
    </tr>
  </table>
  <div class="Footer">
    <table>
      <tr>
        <td>
          <p>POWERED BY</p>
          <a class="Footer__beetech-logo" href="{% text " footer_beetech_url" label="Footer BeeTech URL" , value="https://beetech.global/?utm_campaign=RM_EM_001_Evento-BeeMyGuest&utm_source=hs_email&utm_medium=email&sent_date=20180710&utm_content=logoBTFooter"
            , no_wrapper=True %}" title="BeeTech Global" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/RM_CA_003/BEETECH_LOGO.png" alt="BeeTech Global" />
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            {{ site_settings.company_name }} <br>
            {{ site_settings.company_street_address_1 }} <br>
            {{ site_settings.company_street_address_2 }}, {{ site_settings.company_city }} - {{
            site_settings.company_state }} <br>
            CEP: {{ site_settings.company_zip }}
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Todos os direitos reservados @ {{ year }}</p>
          <p class="m-0">
            Deseja parar de receber os emails da Remessa Online? Clique em <a href="{{ unsubscribe_link }}" target="_blank"
              title="Cancelar a assinatura de emails">Cancelar Assinatura</a>.
          </p>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>