<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BeeMyGuest: Financiamento para startups</title>
</head>
<body style="margin: 0; padding: 0;" align="center">     
<!-- preview text -->
    <table align="center" width="100%" height="36px" cellpadding="0" cellspacing="0" style="background-color:#4AB37F; padding: 0px 10px;">
        <tr>
            <td>
                <p style="font-family: Arial; font-size: 12px; line-height: 1.5; color: #ffffff; text-align: center">Venha participar da primeira edição do BeeMyGuest e descubra como!</p>
            </td>
        </tr>
    </table> 
    
<!-- bg wrapper -->
<table align="center" width="100%" cellpadding="0" cellspacing="0" style="background-color:#fff; ">
    <tr>
        <td>
            
<!-- header logo -->
    <table align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <center>
                <a href="https://beetech.global/?utm_campaign=RM_EM_001_Evento-BeeMyGuest&utm_source=hs_email&utm_medium=email&sent_date=20180719&utm_content=logoBTUp" target="_blank">
                <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/RB_CP_02/BT-logo-principal.png" style="width: 175px; margin:24px 0px;" width="175" height="76" alt="BeeCâmbio" />
                </a>
                    </center>
            </td>
        </tr>
    </table> 
            
<!-- heading text -->
    <table align="center" height="120px" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <a href="https://beemyguest.eventbrite.com.br?utm_campaign=RM_EM_001_Evento-BeeMyGuest&utm_source=hs_email&utm_medium=email&sent_date=20180719&utm_content=header" target="_blank">
             <img src="https://s3-us-west-2.amazonaws.com/beecambiomkt/images/eventos/BT_E03-01/BT_E03-01-email-header-v2.png" width="100%" height="auto" alt="BeeMyGuest funding para startups" style="margin-bottom:24px;">
                </a>
                <p style="font-family: Arial; font-size: 32px;font-weight:bold; line-height: 1.2em; color: #4AB37F; text-align: center; margin: 0 12px">1ª edição<br> Vamos falar sobre funding em startups?</p>
            </td>
        </tr>
    </table>
            
<!-- content -->
    <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 44px; background-color: #fff;">
        <tr>
          <td style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #888888; text-align:center;">
            <p style="width: 100%; text-align:center; color: #4AB37F;"><b>
            Olá, {{contact.firstname}}. Tudo bem?
            </b></p>
              
            <p style="width: 100%; text-align:center;">
            Você é nosso convidado para a primeira edição do BeeMyGuest, uma experiência que conecta pessoas, ideias e soluções para quem deseja empreender, investir ou estudar no exterior.
            </p>

            <p style="width: 100%; text-align:center;">
No dia 02 de agosto, Alexandre Liuzzi, CEO da MAR ventures, e Fernando Pavani, CEO da BeeTech, falam como as startups podem despertar o interesse dos investidores e do mercado.
            </p>

            <p style="width: 100%; text-align:center;">
Nesse dia, a BeeTech lança oficialmente a <a href="https://business.remessaonline.com.br/?utm_campaign=RM_EM_001_Evento-BeeMyGuest&utm_source=hs_email&utm_medium=email&sent_date=20180719&utm_content=link" style="text-decoration:none; color: #4AB37F; font-weight: bold;" target="_blank"> Remessa for Business</a>. O produto pretende deixar as operações de câmbio para empresas muito mais ágil e fácil.
            </p>   
            </td>
        </tr>
    </table> 

<!-- content -->
    <table align="center" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; padding: 40px 44px; background-color: #f3f3f4;">
        <tr>
          <td style="font-family: Arial; font-size: 16px; line-height: 1.5em; color: #888888; text-align:center;">
            <p style="width: 100%; text-align:center; color: #4AB37F;"><b>
            BeeMyGuest - Funding em startups
            </b></p>
              
            <p style="width: 100%; text-align:center;font-size: 16px;line-height: 1.3em;">
            Quando: 02 de agosto de 2018, das 9h às 11h30<br>Onde: {{site_settings.company_street_address_1}} - {{site_settings.company_city}} - {{site_settings.company_state}}</p>
              <p style="width: 100%; text-align:center;font-size: 16px;line-height: 1.3em;"><b>O evento é gratuito e aberto ao público. As vagas são limitadas, por isso é necessário confirmar presença.</b></p> 
            </td>
        </tr>
        
<!-- CTA -->
        <tr>
            <td align="center" >
                <center>
                <p><a style="font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#fff;padding:12px 24px;background:#4AB37F;text-decoration:none; margin-bottom: 20px; border-radius:3px; border: 1px solid; border-color: rgba(0,0,0,0.2);display:inline-block;text-transform:uppercase;" href="https://beemyguest.eventbrite.com.br/?utm_campaign=RM_EM_001_Evento-BeeMyGuest&utm_source=hs_email&utm_medium=email&sent_date=20180719&utm_content=CTA" target="_blank">CONFIRME SUA PRESENÇA</a></p>
                </center>
                <p style="width: 100%; text-align:center;font-size: 14px;line-height: 1.3em;font-family: Arial; color:#4AB37F;">Se você quer explorar as oportunidades de um mundo globalizado, então venha e aproveite!</p>
            </td>
        </tr>
    </table> 
            
<!-- footer -->
    <table style="max-width:600px; width:100%;" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <p style="font-family: Arial; font-size: 10px; line-height: 1em; color: #aaaaaa; text-align: center; margin-top:50px;">POWERED BY</p>
                            <center>
                            <a href="https://beetech.global/?utm_campaign= RM_EM_001_Evento-BeeMyGuest&utm_source=hs_email&utm_medium=email&sent_date=20180719&utm_content=logoBTFooter" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/beecambioimages/emails/assessores/images/BT-logo-primario-footer-01.png" width="120px" height="50px" alt="BeeTech" /></a>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family: Arial; font-size: 12px; color: #aaaaaa; padding-top:32px;text-align: center;">Todos os direitos reservados {{site_settings.company_name}} @ 2018</p>
                            <p style="line-height: 1.2; font-family: Arial; font-size: 12px; color: #aaaaaa; padding-top:5px;text-align: center; ">Deseja parar de receber os emails da BeeCâmbio? Clique em <a href="{{ unsubscribe_link }}" target="_blank" style="color: #888;">Cancelar Assinatura</a>.</p>
                        </td>    
                    </tr>
    </table>